<!-- Added "global-menubar-noEllipsis" class to remove the ellipsis in Logo -->
<div class="w-100" *ngIf="eaStoreService.maintainanceObj?.maintainanceAnnouncementMessage?.length && !eaStoreService.maintainanceObj?.underMaintainance">
    <div class="bannerHeading mt-2 mb-2">
        <div class="maintenance">
            <h3>{{'common.DOWNTIME_MAINTENANCE' | localizationPipe : localizationService.localizedkeySet.size}}</h3>
            <p>{{eaStoreService.maintainanceObj.maintainanceAnnouncementMessage}}</p>
        </div>
    </div>
</div>

<div class="down-for-maintenance" *ngIf="eaStoreService.maintainanceObj?.underMaintainance">
    <span class="icon-maintenance">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span
            class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span
            class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span
            class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span
            class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span
            class="path21"></span><span class="path22"></span><span class="path23"></span><span class="path24"></span><span
            class="path25"></span><span class="path26"></span><span class="path27"></span><span class="path28"></span><span
            class="path29"></span><span class="path30"></span><span class="path31"></span><span class="path32"></span><span
            class="path33"></span><span class="path34"></span><span class="path35"></span><span class="path36"></span><span
            class="path37"></span><span class="path38"></span><span class="path39"></span><span class="path40"></span><span
            class="path41"></span><span class="path42"></span><span class="path43"></span><span class="path44"></span><span
            class="path45"></span><span class="path46"></span><span class="path47"></span><span class="path48"></span><span
            class="path49"></span><span class="path50"></span><span class="path51"></span><span class="path52"></span><span
            class="path53"></span>
    </span>
    <h1>{{'common.DOWN_FOR_MAINTENANCE' | localizationPipe : localizationService.localizedkeySet.size}}</h1>
    <h3>{{eaStoreService.maintainanceObj?.underMaintainanceMessage}}</h3>
</div>

<app-global-menubar class="global-menubar-noEllipsis" *ngIf='eaStoreService.menubarUrl && eaStoreService.authToken && !eaStoreService.isEa2'></app-global-menubar>
<ng-container *ngIf="!eaStoreService.maintainanceObj?.underMaintainance">
<ng-guide-me *ngIf="eaStoreService.isShowGuideMe"></ng-guide-me>
<app-open-case  *ngIf="eaStoreService.showOpenCase"></app-open-case>
<router-outlet></router-outlet>
</ng-container>
