<div class="container-fluid">
    <div class="pe-skelton">
        <div class="d-flex full-width">
            <span class="section-seperator mt-0 mb-3" style="height: 68px;"></span>
        </div>
        <div class="pe-roadmap">
            <span class="circle"></span>
            <span class="line"></span>
            <span class="circle"></span>
            <span class="line"></span>
            <span class="circle"></span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <span class="text-placeholder"></span>
            <span class="button-placeholder"></span>
        </div>
        <div class="pe-enrollment full-width">
            <div class="pe-tile">
                <span class="button-placeholder button-sm"></span>
            </div>
            <div class="pe-tile">
                <span class="button-placeholder button-sm"></span>
            </div>
            <div class="pe-tile">
                <span class="button-placeholder button-sm"></span>
            </div>
        </div>
        <div class="d-flex">
            <span class="text-placeholder"></span>
        </div>
        <div class="d-flex">
            <span class="section-seperator"></span>
        </div>
        <table *ngIf="!proposalStoreService.isProposalCreated">
            <tr>
                <td>
                    <span style="width:177px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:55px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:55px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:44px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:122px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:44px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:111px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:120px" class="text-placeholder"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="width:143px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:55px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:55px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:44px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:80px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:44px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:82px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:99px" class="text-placeholder"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="width:234px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:55px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:34px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:44px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:99px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:44px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:99px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:120px" class="text-placeholder"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="width:211px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:55px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:34px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:44px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:122px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:44px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:99px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:100px" class="text-placeholder"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="width:102px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:55px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:34px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:44px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:99px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:44px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:99px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:99px" class="text-placeholder"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="width:234px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:55px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:34px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:44px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:99px" class="text-placeholder"></span>
                </td>
                <td class="text-center">
                    <span style="width:44px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:99px" class="text-placeholder"></span>
                </td>
                <td class="text-right">
                    <span style="width:120px" class="text-placeholder"></span>
                </td>
            </tr>
        </table>
    </div>
</div>