<div class="vnext-footer">
    <hr class="weight-1 mb-0">
    <div class="container-fluid myProposal mt-0 py-2 vNext">
        <ul class="inline-listing border-right-li">
            <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">{{localeService.getLocalizedString('common.TERMS_CONDITIONS')}}</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy.html" target="_blank" >{{localeService.getLocalizedString('common.PRIVACY_STATEMENT')}}</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy.html#cookies" target="_blank">{{localeService.getLocalizedString('common.COOKIE_POLICY')}}</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank" >{{localeService.getLocalizedString('common.TRADEMARKS')}}</a></li>
        </ul>
    </div>
</div> 

   <!-- attr.action-id="{{dataIdConstantsService.ea_link_termsConditions}}"
   attr.action-id="{{dataIdConstantsService.ea_link_privacyStatement}}"
   attr.action-id="{{dataIdConstantsService.ea_link_cookiePloicy}}"
   attr.action-id="{{dataIdConstantsService.ea_link_trademarks}}" -->