#filter-area {
    padding: 15px 0 10px 0 !important;
    margin-bottom: 10px;
}

.filters {
    font-size: 0.875rem;
    color: #227bb1;
    .i-vNext-filter {
        font-size: 1rem;
        margin-right: 6px;
        position: relative;
        top: 1px;
        &::before {
            color: #227bb1;
        }
    }
}

.search-wrap {
    width: 400px;
    border: none;
    margin-right: 15px;
    .form-control {
        border-bottom: 0px none;
        padding-right: 50px;
        border-radius: 20px;
        border: 1px solid transparent !important;
        background: #f3f9ff;
        text-overflow: ellipsis;
        &:hover{
            background-color: #f3f9ff !important;
        }
        &:focus{
            border: 1px solid #00bceb !important;
        }
    }

    .i-vNext-search {
        position: absolute;
        right: 20px;
        bottom: 12px;
        font-size: 16px;
        z-index: 1;
        cursor: pointer;
    }

    .i-vNext-close {
        position: absolute;
        right: 20px;
        bottom: 12px;
        font-size: 12px;
        z-index: 1;
        cursor: pointer;
    }
}

.inline-listing {
    li {
        &.tile-list-wrap {
            background-color: #f9fafb;
            padding-block: 6px 3px !important;
            padding-inline: 7px;
            border-block: 1px solid #e4e4e4;
            line-height: 1;
            a {
                font-size: 1.125rem;
                span {
                    &::before {
                        color: #6a80a5;
                    }
                }
            }
        }

        &.active {
            background-color: #6a80a5;
            a {
                span {
                    &::before {
                        color: #98abc3;
                    }
                }
            }
            
        }
    }
}

label {
    &.created-label {
        font-size: 0.875rem;
    }
}
.dropdown-link {
    color: #227bb1;
    font-size: 0.875rem;
    .i-vNext-arrow-down-heavy {
        position: relative;
        top: 1px;
        font-size: 0.6875rem;
        font-weight: bold;
        &::before {
            color: #227bb1;
        }
    }
}
/*  Table Styling -- Starts Here  */
.primary-table {
    thead {
        th {
            color: #6c757d;
            font-size: 0.813rem;
            font-weight: 700;
            background-color: #fff;
            padding-top: 10px;
            padding-bottom: 8px;
            border-top: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            border-right: 1px dashed #e4e4e4;
            position: static;
            vertical-align: bottom ;
            line-height: 18px;

            &:last-child {
                border-right: 0;
            }
            &.no-colspan {
                width: 10% !important;
                text-align: right !important;
            }

            .i-vNext-help-filled {
                position: absolute;
                left: 10px;
                bottom: 10px;
                font-size: 0.875rem;
                cursor: pointer;
                &::before {
                    color: #c2d1e2;
                }

                .tooltip-inner-content {
                    display: none;
                    font-family: "CiscoSans";
                    position: absolute;
                    top: -85px;
                    padding:12px;
                    color: #394454;
                    font-size: 0.75rem;
                    width: 200px;
                    left: -97px;
                    background-color: #fff;
                    text-align: left;
                    border: 1px solid #e7e5e5;
                    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
                    line-height: 16px;
                }
                &:hover {
                    .tooltip-inner-content {
                        display: block;

                        &::before {
                            content: "";
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid #e7e5e5;
                            font-size: 0;
                            line-height: 0;
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin-left: calc(50% - 5px);
                            bottom: -10px;
                            z-index: 9;
                            transform: rotate(180deg);
                        }
                        &::after {
                            content: "";
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid #fff;
                            font-size: 0;
                            line-height: 0;
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin-left: calc(50% - 5px);
                            bottom: -9px;
                            transform: rotate(180deg);
                            z-index: 9;
                        }
                    }
                }
            }

            &.colspan-border {
                &--bottom {
                    box-shadow: 0 2px 0 #e4e4e4;
                }  
                &--left {
                    border-left: 1px dashed #e4e4e4;
                }
                &--right {
                    border-right: 1px dashed #e4e4e4;
                }
            }
        }
    }       

    tbody {
        tr {
            background-color: #fff;
            border-bottom: 1px solid #e4e4e4;
            &:nth-child(2n+1) {
                background-color: #fff; 
            }
            &:hover {
                background-color: #fff;
            }

            &.main-row {
                background-color: #f3f3f3;

                td {
                    color: #6c757d;
                    font-weight: 700;
                }
            }
            &.table-sub-row {
                td {
                    &:first-child {
                        padding-left: 36px;
                    }  
                }
            }
        }
        td {
            color: #394454;
            font-size: 0.813rem;
            font-weight: 400;
            border-right: 1px dashed #e4e4e4;
            vertical-align: middle;
            padding: 6px 10px;
            height: 39px;

            a {
                color: #227bb1;
            }
            .i-vNext-more-vertical {
                line-height: 1;
                position: relative;
                top: 2px;
            }

            .inline-listing {
                .dropdown-menu {
                    left: 0;
                    right: auto;
                    min-width: 185px;
                    margin-top: 5px;

                    &.right {
                        left: auto;
                        right: 0;
                    }
                }
                li {
                    &.dropdown {
                        .dropdown-menu {
                            border: none;
                            padding-block: 0 !important;
                            min-width: 185px;
                            box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 5px -1px rgba(0, 0, 0, 0.10);
                            li {
                                padding-block: 6px !important;
                                transition: all 0.5s ease 0s;
                                -webkit-transition: all 0.5s ease 0s;
                                .listing-icon {
                                    font-size: 1rem;
                                    line-height: 1.2;
                                    &::before {
                                        color: #394454;
                                    }
                                }
                                &:hover, &:active {
                                    background-color: #e5f2ff !important;
                                }
                            }
                        }
                    }
                }
            }
            
            .dropdown {
                &.select-dropdown{
                    &.custom-appr-dropdown {
                        white-space: nowrap;
                    }
                }
            }

            .proposal-type {
                border-radius: 4px;
                padding: 3px 4px 2px 4px;
                font-size: 11px;
                border: 1px solid #bdc5cf;
                min-height: 18px;
                line-height: 1;
                min-width: 54px;
                text-align: center;
            }

            &:last-child {
                border-right:0;
            }

            .form-control {
                padding: 5px 19px 5px 6px;
                text-align: right;
                line-height: 1;
                width: 70px;
                display: inline-block;
            }
        }
    }

    .empty-table-data {
        text-align: center;
        padding: 10px;
    }

    tfoot {
        td {
            padding: 8px 10px;
            font-weight: 700;
            color: #394454;
            border-right: 1px dashed #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            height: 39px;

            &:last-child {
                border-right:0;
            }
        }
    }

    .expCol-wrap {
        position: relative;
        top: 2px;
        margin-right: 10px;
        cursor: pointer;
        font-size: 1rem;
    }

    .badge {
        font-size: 12px;
        border-radius: 4px;
        padding: 3px 8px 2px;
        height: auto;
    }
}
/*  End of Table Styling  */

.dropdown-menu {
    &.right {
        left: auto;
        right: 10px;
    }
}

.i-vNext-arrow-down-heavy {
    font-size: 0.625rem;
    &::before {
        color: #059fd9;
    }
}

.select-dropdown {
    .dropdown-toggle {
        .icon-arrow-stroke-right {
            top: 0 !important;
        }
    }
    .dropdown-menu {
        z-index: 999 !important;
    }
}

.dropdown{
    &.select-dropdown {
        .dropdown-menu {
            border: 1px solid #e7e5e5 !important;
            box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2), 0 3px 16px 0 rgba(0,0,0,0.12);

            &::before {
                content: "";
                width: 0;
                height: 0;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                border-bottom: 9px solid #fff !important;
                font-size: 0;
                line-height: 0;
                position: absolute;
                left: auto;
                top: -20px;
                z-index: 99 !important;
                right: 26px;
                transform: rotate(0deg);
            }

            &::after {
                content: "";
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #e7e5e5;
                font-size: 0;
                line-height: 0;
                position: absolute;
                left: auto;
                top: -10px;
                z-index: 10;
                right: 25px;
            }

        }
    }
}


/*---------- Responsive CSS ----------*/

@media screen and (min-width:1600px) {
    .primary-table tbody td .proposal-type {
        padding: 4px 4px 2px 4px;
        font-size: 12px;
        min-height: 20px;
        min-width: 60px;
    }
    .primary-table .badge {
        font-size: 13px;
        padding: 4px 8px 3px;
        height: auto;
    }
}

@media screen and (min-width:1920px) {
    .primary-table tbody td .proposal-type {
        padding: 5px 4px 3px 4px;
        font-size: 13px;
        min-height: 20px;
        min-width: 65px;
    }
    .primary-table .badge {
        font-size: 14px;
        padding: 5px 8px 4px;
    }
}

/*.dropdown-menu {
    width: 538px !important;
}*/


// @media screen and (max-width:1200px){
//     .inline-listing{
//         .dropdown{
//             a{
//                 font-size: 13px;
//                 .i-vNext-arrow-down-heavy{
//                     font-size: 11px;
//                 }
//             }
//         }
//     }
//     .search-wrap{
//         .form-control{
//             font-size: 13px;
//             height: 38px;
//             &::placeholder{
//                 font-size: 13px !important;
//             }
//         }
//         .i-vNext-search {
//             bottom: 11px;
//             font-size: 15px;
//         }
//     }
//     .select-dropdown .dropdown-toggle {
//         font-size: 13px;
//     }
// }

// @media screen and (max-width:800px){
//     .inline-listing{
//         .dropdown{
//             a{
//                 font-size: 12px;
//                 margin-left: 0px !important;
//                 .i-vNext-arrow-down-heavy{
//                     font-size: 10px;
//                 }
//             }
//         }
//     }
//     .search-wrap{
//         width: 360px;
//         .form-control{
//             font-size: 12px;
//             height: 34px;
//             &::placeholder{
//                 font-size: 12px !important;
//             }
//         }
//         .i-vNext-search {
//             bottom: 10px;
//             font-size: 14px;
//         }
//     }
//     .table-wrapper {
//         overflow: scroll;
//         max-width: calc(100% - 40px);
//         margin-left: 20px;
//         padding: 0;
//     }
//     .primary-table{
//         min-width: 1100px;
//         thead{
//             th{
//                 font-size: 12px;
//             }
//         }
//         tbody{
//             td{
//                 font-size: 12px;
//                 height: 36px;
//                 .badge{
//                     font-size: 11px;
//                 }
//             }
//         }
//     }
//     .select-dropdown .dropdown-toggle {
//         font-size: 12px;
//     }
// }

// @media screen and (max-width:600px){
//     .inline-listing{
//         flex-direction: column;
//         align-items: flex-start;
//         width: 100%;
//         .dropdown{
//             margin-bottom: 5px;
//             width: auto;
//         }
//         li{
//             padding: 0px;
//             border-right: 0;
//             width: 100%;
//         }
//     }
//     .search-wrap{
//         width: 100%;
//         .form-control{
//             font-size: 11px;
//             height: 30px;
//             &::placeholder{
//                 font-size: 11px !important;
//             }
//         }
//         .i-vNext-search {
//             bottom: 8px;
//             font-size: 12px;
//         }
//     }
//     .table-wrapper {
//         max-width: calc(100% - 30px);
//         margin-left: 15px;
//     }
//     .primary-table{
//         min-width: 1000px;
//         thead{
//             th{
//                 font-size: 11px;
//             }
//         }
//         tbody{
//             td{
//                 font-size: 11px;
//                 height: 34px;
//                 .inline-listing{
//                     width: auto;
//                 }
//                 .badge{
//                     font-size: 10px;
//                 }
//             }
//         }
//     }
//     .select-dropdown .dropdown-toggle {
//         font-size: 11px;
//     }
// }