<!-- Start Page Content Wrapper -->
<section class="breadcrumbWrapper" id="breadcrumbWrapper">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">
                            <span class="icon-home"></span>
                        </a>
                    </li>
                    <!--li class="breadcrumb-item"><a href="#">Cisco One Prospects</a></li-->
                    <li class="breadcrumb-item active">Qualifications</li>
                </ol>
            </div>
        </div>
        <div class="fullScreenBreadcrumb">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Adobe Systems Inc.</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<div id="page-header" class="global-bookmark">
    <section id="deal-info" class="subHeaderWrap whiteBgHeadWrap">
        <div class="container-fluid">
            <!-- Main Drop Down -->
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-3 pr-0">
                    <div class="page-sub-title">
                        <h2 class="microsoft-corporation">Adobe Systems Inc.</h2>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- Sub Drop Down -->
        </div>
    </section>
</div>

<!-- End of Conatiner Fluid -->
<div id="filter-area" *ngIf="showQualList">
    <div class="container-fluid">
        <div class="row align-items-center" *ngIf="!createQualification">
            <div class="col-md-7">
                <h2>Qualification Listing</h2>
            </div>
            <div class="col-md-5">
                <ul class="qualify-btn">
                    <li>
                        <button type="button" class="btn btn-secondary">Disqualify</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-secondary">View IB Summary</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary">View Prospect Details</button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Sub Heading -->
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-8 col-md-12">
                <div class="sub-heaing">
                    <h3>Existing Agreements</h3>
                </div>
            </div>
        </div>
        <!-- Sub Heading  ends-->
        <!-- Subscription Section 1-->
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-8 col-md-12 marginT10">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-12">
                        <div class="detail-section">
                            <div class="subscription-block">
                                <span class="subscription-id">Subscription Id</span>
                                <span class="subscription-num">348754582</span>
                                <span class="badge badge-success marginL15 floatL">Success</span>
                                <!--span class="action-icons"><i class="icon-duplicate"></i> <i class="icon-trash"></i></span-->
                                <div class="clearfix"></div>
                            </div>
                            <div class="account-block">
                                <ul>
                                    <li>
                                        <span class="head">ACCOUNT NAME</span>
                                        <span class="value">Adobe System Inc.</span>
                                    </li>
                                    <li>
                                        <span class="head">ARCHITECTURES</span>
                                        <span class="value">Cisco One, Security,
                      <span class="more-items">1 more</span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="head">SUITES</span>
                                        <span class="value">Access Switching,
                      <span class="more-items">7 more</span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="head">START DATE</span>
                                        <span class="value">Jul 1, 2018</span>
                                    </li>
                                    <li>
                                        <span class="head">END DATE</span>
                                        <span class="value">Jul 1, 2021</span>
                                    </li>
                                </ul>

                            </div>
                            <div class="recommend-block">
                                <a href="javascript:void(0);">Hide Recommendations</a>
                                <div class="clearfix"></div>
                                <div class="recommend-list">
                                    <ul>
                                        <li>
                                            <i></i>
                                            <div class="recommend-info">
                                                <span class="head">1/3 Active Architectures</span>
                                                <span class="value">Initiate qual. with Security architecture
                        </span>
                                            </div>
                                            <div class="initate-box marginL10">
                                                <button class="btn btn-secondary" type="button">Initiate</button>
                                            </div>
                                        </li>
                                        <li>
                                            <i></i>
                                            <div class="recommend-info">
                                                <span class="head">1/3 Active Architectures</span>
                                                <span class="value">Initiate qual. with Collaboration architectures
                        </span>
                                            </div>
                                            <div class="initate-box marginL10">
                                                <button class="btn btn-secondary" type="button">Initiate</button>
                                            </div>
                                        </li>
                                        <li>
                                            <i></i>
                                            <div class="recommend-info">
                                                <span class="head">2/5 ActiveSuites</span>
                                                <span class="value">Initiate qual. with 3 additional suites
                        </span>
                                            </div>
                                            <div class="initate-box marginL10">
                                                <button class="btn btn-secondary" type="button">Initiate</button>
                                            </div>
                                        </li>
                                        <li>
                                            <i></i>
                                            <div class="recommend-info">
                                                <span class="head">1/3 Active Architectures</span>
                                                <span class="value">Initiate qual. with Security architecture
                        </span>
                                            </div>
                                            <div class="initate-box marginL10">
                                                <button class="btn btn-secondary" type="button">Initiate</button>
                                            </div>
                                        </li>
                                        <li>
                                            <i></i>
                                            <div class="recommend-info">
                                                <span class="head">1/3 Active Architectures</span>
                                                <span class="value">Initiate qual. with Security architecture
                        </span>
                                            </div>
                                            <div class="initate-box marginL10">
                                                <button class="btn btn-secondary" type="button">Initiate</button>
                                            </div>
                                        </li>
                                        <li>
                                            <i></i>
                                            <div class="recommend-info">
                                                <span class="head">1/3 Active Architectures</span>
                                                <span class="value">Initiate qual. with Security architecture
                        </span>
                                            </div>
                                            <div class="initate-box marginL10">
                                                <button class="btn btn-secondary" type="button">Initiate</button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- Subscription Section 1 ends-->


        <!-- Subscription Section 2-->
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-8 col-md-12 marginT20">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-12">
                        <div class="detail-section">
                            <div class="subscription-block">
                                <span class="subscription-id">Subscription Id</span>
                                <span class="subscription-num">348754582</span>
                                <span class="badge badge-success marginL15 floatL">Success</span>
                                <!--span class="action-icons"><i class="icon-duplicate"></i> <i class="icon-trash"></i></span-->
                                <div class="clearfix"></div>
                            </div>
                            <div class="account-block">
                                <ul>
                                    <li>
                                        <span class="head">ACCOUNT NAME</span>
                                        <span class="value">Adobe System Inc.</span>
                                    </li>
                                    <li>
                                        <span class="head">ARCHITECTURES</span>
                                        <span class="value">Cisco One, Security,
                      <span class="more-items">1 more</span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="head">SUITES</span>
                                        <span class="value">Access Switching,
                      <span class="more-items">7 more</span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="head">START DATE</span>
                                        <span class="value">Jul 1, 2018</span>
                                    </li>
                                    <li>
                                        <span class="head">END DATE</span>
                                        <span class="value">Jul 1, 2021</span>
                                    </li>
                                </ul>

                            </div>
                            <div class="recommend-block">
                                <a href="javascript:void(0);">Show Recommendations</a>
                                <div class="clearfix"></div>
                                <div class="recommend-list" style="display: none;">
                                    <ul>
                                        <li>
                                            <i></i>
                                            <div class="recommend-info">
                                                <span class="head">1/3 Active Architectures</span>
                                                <span class="value">Initiate qual. with Security architecture
                        </span>
                                            </div>
                                            <div class="initate-box marginL10">
                                                <button class="btn btn-secondary" type="button">Initiate</button>
                                            </div>
                                        </li>
                                        <li>
                                            <i></i>
                                            <div class="recommend-info">
                                                <span class="head">1/3 Active Architectures</span>
                                                <span class="value">Initiate qual. with Collaboration architectures
                        </span>
                                            </div>
                                            <div class="initate-box marginL10">
                                                <button class="btn btn-secondary" type="button">Initiate</button>
                                            </div>
                                        </li>
                                        <li>
                                            <i></i>
                                            <div class="recommend-info">
                                                <span class="head">2/5 ActiveSuites</span>
                                                <span class="value">Initiate qual. with 3 additional suites
                        </span>
                                            </div>
                                            <div class="initate-box marginL10">
                                                <button class="btn btn-secondary" type="button">Initiate</button>
                                            </div>
                                        </li>
                                        <li>
                                            <i></i>
                                            <div class="recommend-info">
                                                <span class="head">1/3 Active Architectures</span>
                                                <span class="value">Initiate qual. with Security architecture
                        </span>
                                            </div>
                                            <div class="initate-box marginL10">
                                                <button class="btn btn-secondary" type="button">Initiate</button>
                                            </div>
                                        </li>
                                        <li>
                                            <i></i>
                                            <div class="recommend-info">
                                                <span class="head">1/3 Active Architectures</span>
                                                <span class="value">Initiate qual. with Security architecture
                        </span>
                                            </div>
                                            <div class="initate-box marginL10">
                                                <button class="btn btn-secondary" type="button">Initiate</button>
                                            </div>
                                        </li>
                                        <li>
                                            <i></i>
                                            <div class="recommend-info">
                                                <span class="head">1/3 Active Architectures</span>
                                                <span class="value">Initiate qual. with Security architecture
                        </span>
                                            </div>
                                            <div class="initate-box marginL10">
                                                <button class="btn btn-secondary" type="button">Initiate</button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- Subscription Section 2 ends-->

        <!-- Sub Heading 2-->
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-8 col-md-12">
                <div class="sub-heaing">
                    <h3>Qualifications</h3>
                </div>
            </div>
        </div>
        <!-- Sub Heading 2 ends-->
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-12">
                <div class="viewn-n-create">
                    <div class="view-box">
                        <label>View By</label>
                        <div class="btn-group view-by" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary active">Active</button>
                            <button type="button" class="btn btn-secondary">Closed</button>
                        </div>
                    </div>
                    <div class="create-new">
                        <button class="btn btn-primary btn-sm" type="button">Create New</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Qualification Sections -->
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-8 col-md-12 marginT20">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-12">
                        <div class="detail-section">
                            <div class="subscription-block">
                                <span class="qualification-head">Cisco EA for Cisco ONE-Adobe-WW-FY18</span>
                                <span class="badge badge-in-progress marginL15 floatL">In Progress</span>
                                <!--span class="action-icons"><i class="icon-duplicate"></i> <i class="icon-trash"></i></span-->
                                <div class="clearfix"></div>
                            </div>
                            <div class="account-block">
                                <ul>
                                    <li>
                                        <span class="head">ACCOUNT NAME</span>
                                        <span class="value">Adobe System Inc.</span>
                                    </li>
                                    <li>
                                        <span class="head">DEAL ID</span>
                                        <span class="value">12345678</span>
                                    </li>
                                    <li>
                                        <span class="head">CISCO ACCOUNT MANAGER</span>
                                        <span class="value">Paul Sorge</span>
                                    </li>
                                    <li>
                                        <span class="head">PARTNER</span>
                                        <span class="value">World Wide Technology</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-8 col-md-12 marginT10">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-12">
                        <div class="detail-section">
                            <div class="subscription-block">
                                <span class="qualification-head">Cisco EA for Collab &amp; Security-Adobe-WW-FY18</span>
                                <span class="badge badge-in-progress marginL15 floatL">In Progress</span>
                                <!--span class="action-icons"><i class="icon-duplicate"></i> <i class="icon-trash"></i></span-->
                                <div class="clearfix"></div>
                            </div>
                            <div class="account-block">
                                <ul>
                                    <li>
                                        <span class="head">ACCOUNT NAME</span>
                                        <span class="value">Adobe System Inc.</span>
                                    </li>
                                    <li>
                                        <span class="head">DEAL ID</span>
                                        <span class="value">12345678</span>
                                    </li>
                                    <li>
                                        <span class="head">CISCO ACCOUNT MANAGER</span>
                                        <span class="value">Paul Sorge</span>
                                    </li>
                                    <li>
                                        <span class="head">PARTNER</span>
                                        <span class="value">World Wide Technology</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- Qualification Sections ends-->

    </div>
</div>