// .slide-pagination { display: flex; align-items:center}
// .slide-pagination .n-link{ cursor: pointer;}
// .slide-pagination .back{ transform: rotate(-90deg); display: inline-block; margin-right: 10px;}
// .slide-pagination .next{ transform: rotate(90deg); display: inline-block; margin-left: 10px;}
// .skip-slide, .slide-pagination .next, .slide-pagination .back { cursor: pointer;}





