$browser-context:16;
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}
.vNext-lookup-desc {
    p {
        font-size: rem(16);
    } 
    .alert {
        font-size: rem(14);
        &.alert--warning {
            .info-text {
                color: #fbab18;
            }
        }
        ul {
            li {
                font-size: rem(14);
                line-height: 1.2;
                color: #5d656c;
            }
        }
    }
    
}