$browser-context:16;
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}
.vNext-lookup-desc {
    p {
        font-size: rem(16);
    } 
    .alert {
        font-size: rem(14);
        &.alert--warning {
            .info-text {
                color: #fbab18;
            }
        }
        ul {
            li {
                font-size: rem(14);
                line-height: 1.2;
                color: #5d656c;
            }
        }
    }
    
}


.eaicon-scan-reprocessIb:before {
    content: "\e903";
    font-size: 0.75rem;
  }
/*---------- Responsive CSS ----------*/

@media screen and (min-width:1600px){
    .vNext-lookup-desc p {
        font-size: rem(17);
    }
    .vNext-lookup-desc .alert ul li {
        font-size: rem(15);
    }
    .acknowldge-div span {
        font-size: rem(15);
        line-height: rem(20);
    }
}

@media screen and (min-width:1920px){
    .vNext-lookup-desc p {
        font-size: rem(18);
    }
    .vNext-lookup-desc .alert ul li {
        font-size: rem(16);
    }
    .acknowldge-div span {
        font-size: rem(16);
        line-height: rem(21);
    }
}