<div class="ag-header-group-cell-label">
  <div class="custom-check">
      <label class="label-check">
          <input class="form-check-input" type="checkbox" value="" name="xyz" id="xyz" [(ngModel)]="isChecked"   [disabled] = 'true'>
          <span class="custom-checkbox-btn">
            <span class="path1"></span>
            <span class="path2"></span>
        </span>
          <span class="ag-icon ag-icon-checkbox-checked"></span>
        </label>
    <label class="customHeaderLabel text-left" for="xyz">{{this.params.displayName}}
    </label>
  </div>
</div>