$browser-context:16;
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}
/*  Table Styling -- Starts Here  */
.primary-table {
    thead {
        th {
            color: #6c757d;
            font-size: rem(13);
            font-weight: 700;
            background-color: #fff;
            padding-top: 10px;
            padding-bottom: 8px;
            border-top: 1px solid #d6d6d6;
            border-bottom: 1px solid #d6d6d6;
            border-right: 1px dashed #d6d6d6;
            position: static;

            &:last-child {
                border-right: 0;
            }

            &.colspan-border {
                &--bottom {
                    box-shadow: 0 2px 0 #d6d6d6;
                }  
                &--left {
                    border-left: 1px dashed #d6d6d6;
                }
                &--right {
                    border-right: 1px dashed #d6d6d6;
                }
            }
        }
    }       

    tbody {
        tr {
            background-color: #fff;
            &:nth-child(2n+1) {
                background-color: #fff; 
            }
            &:hover {
                background-color: #fff;
            }

            &.main-row {
                background-color: #f3f3f3;

                td {
                    color: #6c757d;
                    font-weight: 700;
                }
            }
            &.table-sub-row {
                td {
                    &:first-child {
                        padding-left: 36px;
                    }  
                }
            }
        }
        td {
            color: #394454;
            font-size: rem(13);
            font-weight: 400;
            border-right: 1px dashed #d6d6d6;
            vertical-align: middle;        

            &:last-child {
                border-right:0;
            }
            .form-control {
                padding: 7px 6px;
                text-align: right;
                line-height: 1;
            }
        }
    }

    .empty-table-data {
        text-align: center;
        padding: 10px;
    }

    tfoot {
        td {
            padding: 8px 10px;
            font-weight: 700;
            color: #394454;
        }
    }

    .expCol-wrap {
        position: relative;
        top: 2px;
        margin-right: 10px;
        cursor: pointer;
        font-size: rem(16);
    }

    .badge {
        font-size: rem(10);
        border-radius: 30px;
        &.fill {
            &.hq {
                background-color: #069697;
                color: #fff;
            }

            &.br {
                background-color: #4f91ff;
                color: #fff;
            }
        }
    }
}

.w-990 {
    width: 990px;
}

.cr-party-name {
    display: inline-block;
    max-width: calc(100% - 90px);
    margin-right: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    top: 0.1875rem;
}
.cr-party-id {
    display: inline-block;
}

.cr-party-address {
    display: inline-block;
    max-width: 23rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}