<div class="modal-header">
  <h5 class="modal-title">Proxy User</h5>
  <button type="button" class="icon-close-btn" data-dismiss="modal" aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div>
    <div class="row card m-0 border-0">
      <div class="col-lg-12 line-level-alert">
        <div class="form-group txt m-0">
          <label class="customer-label" for="cecId" (click)="focusInput('cecId')">CEC ID</label>
          <input class="form-control" appElementFocus id="cecId" maxlength="65" [(ngModel)]="cecId" name="cecId"
            required type="text" (keyup.enter)="switchToProxy()">
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary"
    (click)="activeModal.dismiss('Cross click')">{{localeService.getLocalizedString('common.CANCEL')}}</button>
  <button type="button" class="btn btn-primary"
    (click)="switchToProxy()">{{localeService.getLocalizedString('common.SUBMIT')}}</button>
</div>