$browser-context:16;
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type=number] {
-moz-appearance: textfield;
}

// .committed-status {
//     font-size: 0.875rem;
//     line-height: 1;
// }

/*  Table Styling -- Starts Here  */
.primary-table {
    thead {
        th {
            color: #6c757d;
            font-size: 0.813rem;
            font-weight: 700;
            background-color: #fff;
            padding-top: 10px;
            padding-bottom: 8px;
            border-top: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            border-right: 1px dashed #e4e4e4;
            position: static;
            vertical-align: bottom ;
            line-height: 18px;

            &:last-child {
                border-right: 0;
            }
            &.no-colspan {
                width: 150px;
                text-align: right !important;
                white-space: normal;
            }

            .i-vNext-help-filled {
                font-size: 0.875rem;
                cursor: pointer;
                position: relative;
                top: 2px;
                &::before {
                    color: #c2d1e2;
                }

                .tooltip-inner-content {
                    display: none;
                    font-family: "CiscoSans";
                    position: absolute;
                    top: -85px;
                    padding:12px;
                    color: #394454;
                    font-size: 0.75rem;
                    width: 200px;
                    left: -97px;
                    background-color: #fff;
                    text-align: left;
                    border: 1px solid #e7e5e5;
                    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
                    line-height: 16px;
                }
                &:hover {
                    .tooltip-inner-content {
                        display: block;

                        &::before {
                            content: "";
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid #e7e5e5;
                            font-size: 0;
                            line-height: 0;
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin-left: calc(50% - 5px);
                            bottom: -10px;
                            z-index: 9;
                            transform: rotate(180deg);
                        }
                        &::after {
                            content: "";
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid #fff;
                            font-size: 0;
                            line-height: 0;
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin-left: calc(50% - 5px);
                            bottom: -9px;
                            transform: rotate(180deg);
                            z-index: 9;
                        }
                    }
                }
            }

            .th-with-info {
                display: flex;
                width: 100%;
                align-items: flex-start;
                position: relative;
            }

            &.colspan-border {
                &--bottom {
                    box-shadow: 0 2px 0 #e4e4e4;
                }  
                &--left {
                    border-left: 1px dashed #e4e4e4;
                }
                &--right {
                    border-right: 1px dashed #e4e4e4;
                }
            }
        }
    }       

    tbody {
        tr {
            background-color: #fff;
            border-bottom: 1px solid #e4e4e4;
            &:nth-child(2n+1) {
                background-color: #fff; 
            }
            &:hover {
                background-color: #fff;
            }

            &.main-row {
                background-color: #f3f3f3;

                td {
                    color: #6c757d;
                    font-weight: 700;
                }
            }
            &.table-sub-row {
                td {
                    &:first-child {
                        padding-left: 36px;
                    }  
                }
            }
        }
        td {
            color: #394454;
            font-size: 0.813rem;
            font-weight: 400;
            border-right: 1px dashed #e4e4e4;
            vertical-align: middle;
            padding: 6px 10px;
            height: 39px;

            &:last-child {
                border-right:0;
            }

            .form-control {
                padding: 5px 5px 5px 6px;
                text-align: right;
                line-height: 1;
                width: 60px;
                display: inline-block;
                font-size: rem(13);
                background: #F4F6F8;
                height: 27px;
                &.single-col-input {
                    width: 100%;
                    &.hasError {
                        width: 94%;
                    }
                }
                &.form-error{
                    background: #FCE9E8;
                    border-bottom-color: #F44336;
                    &:hover{
                        background: #FCE9E8 !important;
                        border-bottom-color: #F44336 !important;
                    }
                }
                &.form-warning{
                    background: #FEF7EC;
                    border-bottom-color: #FBAB18;
                    &:hover{
                        background: #FEF7EC !important;
                        border-bottom-color: #FBAB18 !important;
                    }
                }
                &:disabled {
                    opacity: .5;
                }
            }
            .icon-msg-error , .icon-msg-warning{
                font-size: 14px;
                position: relative;
                top: 5px;
                margin-right: 7px;
            }
        }
    }

    .empty-table-data {
        text-align: center;
        padding: 10px;
    }

    tfoot {
        td {
            padding: 8px 10px;
            font-weight: 700;
            color: #394454;
            border-right: 1px dashed #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            height: 39px;

            &:last-child {
                border-right:0;
            }
        }
    }

    .expCol-wrap {
        position: relative;
        top: 2px;
        margin-right: 10px;
        cursor: pointer;
        font-size: 1rem;
    }

    .badge {
        font-size: 0.625rem;
        border-radius: 30px;
        &.fill {
            &.hq {
                background-color: #069697;
                color: #fff;
            }

            &.br {
                background-color: #4f91ff;
                color: #fff;
            }
        }
    }

    .i-vNext-info {
        float: left;
        &::before {
            color: #c2d1e2;
        }
    }
}

.custom-flyout {
    &.cust-md {
        width:1140px;
    }
    .heading{
        position: relative;
        .pos-rel-t4 {
            position: relative;
            top: -8px;
        }
    }
    .heading-title {
        small {
            color: #516a93;
        }
    }
    .heading--h2 {
        font-size: 1.75rem;
        color: #394454;
        font-weight: 300;
        line-height: 1;

        a{
            font-size: rem(28);

            .icon-arrow-stroke {
                font-size: 10px;
                margin-left: 12px;
                font-weight: 700;

                &::before{
                    color: #227BB1;
                }
            }
        }
    }

    .dropdown {
        .dropdown-menu {
            min-width: 100%;
            li {
                padding: 13px 15px;
                font-size: 0.875rem;
                a{
                    font-size: 0.875rem;
                }
            }
        }
    }
}

.selected-cell-data {
    cursor: pointer;
    .icon-tick-01 {
        &::before {
            color: #6abf4b;
        }
    }
}
.number-toggle {
    display: none !important;
    flex-direction: column;
    font-size: 6px;
    top: 11px;
    position: absolute;
    right: 16px;

    span::before {
        color: #394454;
        font-weight: bold;
    }
}
input[type=number] + .number-toggle {
    display: flex;
}
.custom-flyout small .bold-txt {
    font-size: 24px;
    font-weight: 400;
}
.secondary-color{
    color: #394454;
}
.primary-color{
    color: #005073;
}
.heading--h6{
    color: #516A93;
}
.buttons-area{
    position: absolute;
    right: 40px;
    bottom: 24px;
}
.primary-table thead tr + tr th:last-child{
    border-right: 1px dashed #e4e4e4 !important;
}

.error-list {
    position: absolute;
    width: 600px;
    background-color: #fff;
    box-shadow: 0px 9px 12px rgb(0 0 0 / 14%), 0px 3px 16px rgb(0 0 0 / 12%), 0px 5px 6px rgb(0 0 0 / 20%);
    border: none;
    left: 15px;
    &.alert-left {
        left: unset;
        right: calc(100% - 77px);
        &::after{
            left: unset;
            right: 20px;
        }
        &::before{
            left: unset;
            right: 18px;
            top: -11px;
            border-width: 11px;
        }
    }
    .alert-head{
        background: #F9FAFB;
        color: #6C757D;
        font-size: 13px;
        padding: 10px 10px 6px;
        font-weight: 400;
        margin-bottom: 8px;
    }      

    &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #e4e4e4;
        position: absolute;
        left: 120px;
        top: -13px;
        z-index: 9;
    }

    &::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid #fff;
        position: absolute;
        left: 25px;
        top: -9px;
        z-index: 9;
    }
    
    .overflow-hidden {
        overflow: scroll;
        max-height: 200px;
        &.error-list-scroll{
            overflow: auto;
            max-height: 100%;
        }
    }
    .alert-icon + span{
        color: #394454;
        font-weight: 400;
    }
    .alert{
        border: none;
        padding-left: 10px !important;
    }
    .more-errors {
        background: #F9FAFB;
        padding: 7px 10px 7px 42px;
        font-size: 13px;
        .i-vNext-arrow-down-heavy {
            font-size: 0.75rem;
            position: relative;
            top: 1px;
            margin-left: 10px;
            &::before{
                color: #227bb1;
            }
        }
    }
}
.fixTableHead {
    overflow-y: auto;
    max-height: calc(100vh - 290px);
    &.splunk-suite {
        max-height: calc(100vh - 500px);
    }
    table{
        border-collapse: separate;
        border-spacing: 0;
        thead {
            position: sticky;
            top: 0;
            z-index: 9;
          }
          td{
              border-bottom: 1px solid #e4e4e4;
          }
    }
  }
  .committed{
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 8px 4px 5px;
    border-radius: 50px;
    &.partially-committed {
        background: #E4E4E4;
        color: #5D656C;
        .i-vNext-partially-commited:before {
            background: #fff;
            border-radius: 100%;
        }
    }
    &.fully-committed {
        background: #6abf4b33;
        color: #394454;
        .i-vNext-Full-1 .path1:before {
            color: #6ABF4B;
        }
    }
    .committed-status {
        font-size: 1rem;
        line-height: 1;
        margin-right: 6px;
    }
}
.commit-title {
    font-size: 13px;
    color: #6C757D;
    font-weight: 700;
    .i-vNext-help-filled::before{
        color: #C2D1E2;
    }
}
.i-vNext-add{
    font-size: 24px;
    &::before{
        color: #C2D1E2;
    }
}
.commit-rule{
    font-size: 14px;
    color: #227BB1;
    text-decoration: underline;
    display: block;
    line-height: 1;
    & + .i-vNext-fill{
        font-size: 11px;
        &::before{
            color: #227BB1;
        }
    }
}

tr.collapsable-header {
    height: 38px;
}

.collapsable-header {
    th {
        line-height: 1 !important;
        position: relative !important;

        .icon-contracted {
            top: 10px;
            left: -8px;
            position: absolute;

            &::before {
                content: "";
                background: url(/assets/images/Collapse-vNext.svg) no-repeat;
                width: 16px;
                height: 16px;
                display: inline-block;
                background-size: contain;
                cursor: pointer;
            }
        }

        .icon-expanded::before {
            content: "";
            background: url(/assets/images/Expanded.svg) no-repeat;
            width: 16px;
            height: 16px;
            display: inline-block;
            cursor: pointer;
            background-size: contain;
        }
    }
}

.withraw-req {
    position: absolute;
    left: 15px;
    bottom: 40px;
}

.icon-reload:before {
    color: #FBAB18;
}

.custom-flyout.adjust-desired-quantity.dnx-suite {
  width: 1340px;

}

// .custom-flyout.adjust-desired-quantity.splunk-suite {
//     width: 1340px;
  
// }

.info-alert-blue {
    background-color: #eff8fe;
    font-size: 0.875rem;
    font-weight: 400;
    color: #394454;
    padding: 10px 20px 10px 16px;
    line-height: 1.2;
    &.bl-3 {
        border-left: 4px solid #00bceb;
    }
    .icon-msg-Info {
        font-size: 1.25rem;
        .path1 {
            &::before {
                color: #00bceb;
            }
        }
        .path2, .path3 {
            &::before {
                color: #fff;
            }
        }
    }
    .icon-close-btn {
        font-size: 0.75rem;
        position: relative;
        top: 1px;
    }
    .pos-rel {
        position: relative;
        &.t-1 {
            top: 1px;
        }
    }
}

/*---------- Responsive CSS ----------*/

@media screen and (min-width:1600px){
    .primary-table tbody td .form-control {
        font-size: rem(14);
    }
    .number-toggle {
        font-size: rem(7);
    }
    .primary-table thead th .i-vNext-help-filled .tooltip-inner-content {
        font-size: rem(13);
    }
    .info-alert-blue {
        font-size: rem(15);
    }
    .info-alert-blue .icon-msg-Info {
        font-size: rem(21);
    }
}
@media screen and (min-width:1920px){
    .primary-table tbody td .form-control {
        font-size: rem(15);
    }
    .number-toggle {
        top: 12px;
    }

    .custom-flyout.cust-md {
        width: 1230px;
    }
}

@media screen and (max-width:1370px){
    .custom-flyout.adjust-desired-quantity .body {
        max-height: calc(100% - 200px);
        display: flex;
        flex-direction: column;
        .fixTableHead {
            max-height: calc(100% - 100px);
        }
    }
}