<div class="modal-header cx-modal">
    <h5 class="modal-title">Confirmation</h5>
    <button class="icon-close-btn" type="button" (click)="close()"></button>
  </div>
  <div class="modal-body">
   <div class=" cx-heading">
     
        <span class="cx-logo-se"></span><span class="cx-text-se">Services Enrollment</span>
           
     
   </div>
   <div class="row">
    <div class="col cx-col">
        <ol class="ordered-list">
            <li>Your "Requested Start Date" should be at least 15 days and a maximum of 90 days in the future for both Software and Services proposals. The Start date will be auto-adjusted based on the support level selected.</li>
            <li>Services Proposal can be accessed at any time by accessing proposal list as well as selecting "Switch to Services Proposal" link next to Proposal name.</li>
            <li>Billing related information is needed for Services Enrollment. Please click on "Proceed" to be taken to Billing page.</li>
        </ol>
        
        <p class="cx-col-text">To understand more about services support, please <a class="link" href="https://salesconnect.cisco.com/open.html?c=3567c629-b014-425c-b5fa-628568802112" target="_blank">click here to read FAQs.</a></p>
        <!-- <div class="note-area">
            <label class="label-check">
                <input class="form-check-input" (change) = "checkboxSelection()" type="checkbox">
                <span class="custom-checkbox-btn">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </span>
                <span></span>
                <span>I have read & agree to terms & conditions.</span>
            </label>
        </div> -->
    </div>
   </div>
   <ng-container *ngIf='false' style="display: none;">
    <div class="row">
        <div class="col">
            <div class="cisco-logo--progress">
                <p>Processing your request...</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="processing-text">
                <p>Processing...</p>
                <p>
                    <span class="icon-tick-check">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </span>
                    Creating CX Proposal and it can be accessed from Proposal list
                </p>
                <p>
                    <span class="icon-tick-check  not-checked">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </span>
                    Creating Engagement in Asset Management for IB Cleansing
                </p>
            </div>
        </div>
    </div>
  </ng-container>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" (click)="close()">Cancel</button>
    <button class="btn btn-primary"  type="button"  (click)="continue()" >Proceed</button>
  </div>
  