
$browser-context:16;
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}
.customer-label {
    font-size: rem(14);
    color: #394454;
}

#filter-area {
    padding-top: 5px;
    padding-bottom: 8px;
}
.project-name_input{
    max-width: 350px;
}
.section-content {
    padding: 0 15px;
    width: 73%;
    max-width: calc(100% - 385px);
}
.section-sidebar {
    padding: 0 15px;
    width: 27%;
    min-width: 385px;
}

.info-alert-blue {
    background-color: #eff8fe;
    font-size: 0.875rem;
    font-weight: 400;
    color: #394454;
    padding: 10px 20px 10px 16px;
    line-height: 1;
    &.bl-3 {
        border-left: 4px solid #00bceb;
    }
    .icon-msg-Info {
        font-size: 1.25rem;
        .path1 {
            &::before {
                color: #00bceb;
            }
        }
        .path2, .path3 {
            &::before {
                color: #fff;
            }
        }
    }
    .icon-close-btn {
        font-size: 0.75rem;
        position: relative;
        top: 1px;
    }
    .pos-rel {
        position: relative;
        &.t-1 {
            top: 1px;
        }
    }
}

.smart-account-name {
    width: 350px;
    display: flex;
    padding: 7px 15px;
    border: 1px solid #e4e4e4;
    position: relative;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 14%);
}
/*---------- Responsive ----------*/
@media screen and (max-width:1300px){
    .section-content {
        max-width: calc(100% - 360px);
        padding-right: 0;
    }
    .section-sidebar{
        min-width: 360px;
    }
}

@media screen and (min-width:1600px){
    .customer-label {
        font-size: rem(15);
    }
    .info-alert-blue {
        font-size: rem(15);
        .icon-msg-Info {
            font-size: rem(21);
        }
        .icon-close-btn {
            font-size: rem(13);
        }
    }
}

@media screen and (min-width:1920px){
    .customer-label {
        font-size: rem(16);
    }
    .info-alert-blue {
        font-size: rem(16);
        .icon-msg-Info {
            font-size: rem(22);
        }
        .icon-close-btn {
            font-size: rem(14);
        }
    }
}