<div class="modal-header">
  <h5 class="modal-title">Submit for Approval</h5>
  <button type="button" class="icon-close-btn" data-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <div class="row">
      <div class="col-6 same-order" *ngFor="let data of exceptionsData">
      <div class="position-relative marginB15 element-hasvalue exception-model">
          <label class="form_label form-control-placeholder custom-select-lbl labelClass">{{data.label}}<sup> *</sup>
          </label>
        <div class="custom-dropdown">
          <div ngbDropdown class="select-items " ngbDropdownToggle>
            <span class="dropdown--typeAhead__arrow-management">
              <button appElementFocus class="btn--text drop-button" id="dropdownManual" ngbDropdownAnchor dropdownManual *ngIf="!data.selectedReasons || (data.selectedReasons && data.selectedReasons.length === 0)"> 
              {{selectedReason}}</button>
              <button appElementFocus class="btn--text drop-button" id="dropdownManual" ngbDropdownAnchor dropdownManual *ngIf="data.selectedReasons && data.selectedReasons.length > 0"> 
              <span *ngFor="let reason of data?.selectedReasons ; let i = index;">{{reason}}
                <span *ngIf='data?.selectedReasons.length > (i+1)'>, </span>
            </span>
          </button>
            </span>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf="data?.exceptionType !== 'PURCHASE_ADJUSTMENT_REQUEST'">
              <ul>
                <li class="dropdown-item" *ngFor="let item of data?.reasons" (click)="selectExceptionsReason(item, data?.exceptionType, data)">{{item}}</li>
              </ul>
            </div>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf="data?.exceptionType === 'PURCHASE_ADJUSTMENT_REQUEST'">
              <ul>
                <li class="dropdown-item" *ngFor="let item of data?.reasons" (click)="$event.stopPropagation(); $event.preventDefault(); selectExceptionsReason(item, data?.exceptionType, data)">
                  <label class="label-check ellipsis">
                    <input class="form-check-input ng-cloak" type="checkbox" value=""
                        [checked]="checkSelectedReasons(item)"/>
                        <span class="custom-checkbox-btn">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </span>
                    <span></span>
                    {{item}}
                </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

      <div class="position-relative mt-4 marginB10 element-hasvalue">
          <label style="font-size: 12px;" class="form_label m-0 form-control-placeholder">{{localeService.getLocalizedString('common.JUSTIFICATION')}}<sup> *</sup>
          </label>
          <textarea type="text" class="form-control active m-0 p-0"  [(ngModel)]="exceptionComment" (ngModelChange) = "isExceptionCommentChanged($event)"   placeholder="Write your justification here"></textarea>
      </div>
   
    <div class="position-relative marginT15 marginB10 element-hasvalue" *ngIf="exceptionDataObj.showUpload">

    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver, 'file-format-error': qualService.fileFormatError}"
        (fileOver)="fileOverBase($event)" (onFileDrop)="dropped($event)" [uploader]="uploader" class="well my-drop-zone text-center m-0">
        <div class="excelSheetIcon" *ngIf="!qualService.fileFormatError && this.fileName !== '' "></div>
        <div *ngIf="!qualService.fileFormatError && fileName === '' ">
          <span class="dragDropboxTitle">{{localeService.getLocalizedString('common.DRAG')}}
            & {{localeService.getLocalizedString('common.DROP')}}</span>
          <span class="dragDropboxText">{{localeService.getLocalizedString('common.YOUR_FILES')}}
            <a [id]='appDataService.createUniqueId("browse",appDataService.pageContext)' href="javascript:" (click)="file.click()">{{localeService.getLocalizedString('common.BROWSE')}}</a>
            {{localeService.getLocalizedString('common.TO_UPLOAD')}} 
          </span>
        </div>
        <div *ngIf="qualService.fileFormatError">
          <span class="file-name">
            <span class="icon-wrong-file">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
            </span>{{ fileName }}
            <span class="icon-close-btn" (click)="clearFile()"
              triggers="mouseenter:mouseleave"></span>
          </span>
          <span class="incorrect-format">{{localeService.getLocalizedString('qual.whoinvolved.FORMAT_NOT_SUPPORTED')}}
            <!-- <a [id]='appDataService.createUniqueId("browse",appDataService.pageContext)' href="javascript:" (click)="file.click()">{{localeService.getLocalizedString('common.BROWSE')}}</a> -->
          </span>
        </div>
        <input type="file" id="file" #file ng2FileSelect [uploader]="uploader" (change)="onFileChange($event)" hidden />
        <div *ngIf="!qualService.fileFormatError && fileName">
          <div>
            <span  class="wrap-tmanageext">
              <span class="icon-pdf1" *ngIf= "fileType === 'pdf'"> <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                  class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span
                  class="path8"></span></span>

              <span class="icon-ppt1" *ngIf= "fileType === 'ppt' "> <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                  class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span
                  class="path8"></span></span>

              <span class="icon-xls1" *ngIf= "fileType === 'xlsx' || fileType === 'xls' "> <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                  class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span
                  class="path8"></span></span>

              <span class="icon-doc1" *ngIf= "fileType === 'doc'  || fileType === 'docx' "> <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                  class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span
                  class="path8"></span></span>

                  <span class="drag-drop-text">{{ fileName }}</span>
              <span class="icon-close-btn" (click)="removeItem()" triggers="mouseenter:mouseleave"></span>
            </span>
          </div>
          <!-- <div class="progress" style="margin-bottom: 0;" *ngIf="item.isUploading || item.isSuccess">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div> -->
          <div class="text-center">
            <span *ngIf="!qualService.fileFormatError && fileName !== '' ">
              <i class="glyphicon glyphicon-ok"></i>
            </span>
            <!-- <span *ngIf="item.isCancel">
                      <i class="glyphicon glyphicon-ban-circle"></i>
                  </span>
                  <span *ngIf="item.isError">
                      <i class="glyphicon glyphicon-remove"></i>
                  </span> -->
          </div>
        </div>
      </div>
   </div>  
  </div>
</div>


  <div class="note-area" style="margin-bottom: 0px;">
    <label class="label-check">
      <input [id]="appDataService.createUniqueId('CHECKBOX_PROPOSAL','REVIEW_ACCEPT')" [(ngModel)]="checkboxValue" (change)="reviewChange()" [disabled]="!enableSubmit" class="form-check-input" type="checkbox" value="">
      <span class="custom-checkbox-btn">
        <span class="path1"></span>
        <span class="path2"></span>
    </span>
      <span class="form-check-span"></span>
      <span [id]="appDataService.createUniqueId('CHECKBOX_PROPOSAL_LABEL','REVIEW_ACCEPT')" class="note">{{localeService.getLocalizedMessage('review.SUBMIT_FOR_APPROVAL_MESSAGE')}}</span>
    </label>
    <div style="color: #666;font-size: 13px; padding-top: 6px;">As a reminder, it is in violation of <a target="_blank" href="http://wwwin.cisco.com/c/cec/organizations/legal/ethics/cobc.html">Cisco's Code of Business Conduct</a> to knowingly provide false information.
    </div>
    <!-- <div style="color: #666;font-size: 13px; padding-top: 6px;float:right">Click to read <a target="_blank" href="http://wwwin.cisco.com/c/cec/organizations/legal/ethics/cobc.html">Cisco's Code of Business</a>
  </div> -->
    <div class="clearfix"></div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!enableAccept">Submit</button>
</div>