.tier-info-wrap {
    background-color: #f6f7fa;
    padding: 20px 25px;
    position: relative;

    .digit {
        color: #6c757d;
        font-size: 0.688rem;
        height: 34px;
        display: flex;
        align-items: center;
    }

    .val {
        color: #394454;
        font-size: 0.875rem;
    }

    .icon-close-btn {
        position: absolute;
        right: 12px;
        top: 13px;
    }
}

.w-100px {
    width: 100px;
}

.quest-sub-opt {
    padding-left: 38px;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        background-color: #e4e4e4;
        width: 1px;
        height: 39px;
        left: 22px;
        top: -31px;
    }

    &::before {
        position: absolute;
        content: "";
        background-color: #e4e4e4;
        height: 1px;
        width: 10px;
        left: 22px;
        top: 7px;
    }

    &+ .quest-sub-opt {
        &::after {
            height: 77px;
            top: -69px;
        }
    }
}

.i-vNext-help {
    position: relative;
    top: 1px;
}
.w-800{
    width: 860px;
}
.custom-flyout{
    .heading--h6{
        color: #394454;
    }
    .heading-title{
        .heading--h2 {
            color: #394454;
            font-weight: 300;
        }
        p{
            color: #394454;
        }
    }
    .body{
        height: 100%;
    }
}

/*  Roadmap Styling -- Sarts Here  */
.roadmap-wrap {
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 20px;
}
.roadmap-steps {
    &.vNext {
        max-width: 370px;
        margin-top: 6px;
        margin-bottom: 20px;
        .step {
            &::before {
                top: 10px;
            }
            &.active {
                &::before {
                    background-color: #00bceb;
                }
                .step--icon {
                    .icon-tick-01{
                        &::before {
                            color: #00bceb;
                        }
                    }
                }
            }
            &.completed {
                &::before {
                    background-color: #00bceb;
                }
                .step--icon {
                    .icon-tick-01{
                        &::before {
                            color: #fff;
                        }
                    }
                }
            }
            .step--icon {
                border: 1px solid transparent;
                height: 16px;
                width: 16px;
                outline: 3px solid #fff !important;
                font-size: 0.375rem;
                background-color: #aeb8c1;

                .icon-tick-01{
                    font-weight: 700;
                    &::before {
                        color: #aeb8c1;
                    }
                }
            }
            .step--label {
                display: block;
                font-size: 0.75rem;
                font-weight: 400 !important;
                color: #394454;
                line-height: 16px;
                top: 4px;
            }

            &.completed {
                .step--icon {
                    background-color: #00bceb;
                    border-color: #00bceb;
                }

                .step--label {
                    color: #394454;
                }
            }

            &.active {
                .step--icon {
                    background-color: #00bceb;
                    border-color: #00bceb;
                }

                .step--label {
                    color: #394454;
                }
            }
        }
    }
}
/*  Roadmap Styling -- Ends Here  */

.vNext-switch {
    display: flex;
    align-items: center;
}
.switch-button {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 12px;
    margin-bottom: 2px;
    input { 
        opacity: 0;
        width: 0;
        height: 0;
      } 
      
        input:checked + .slider {
            background-color: #00bceb;
            &::before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
                background-color: #fff;
                border: 1px solid #00bceb
            }
        }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e4e4e4;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 8px;
        &:before {
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            bottom: -5px;
            background-color:#AEB8C1;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
          }
      }
  }


  .primary-table {
    thead {
        th {
            color: #6c757d;
            font-size: 0.813rem;
            font-weight: 700;
            background-color: #fff;
            padding-top: 10px;
            padding-bottom: 8px;
            border-top: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            border-right: 1px dashed #e4e4e4;
            position: static;
            vertical-align: middle;
            height: 39px;

            &:last-child {
                border-right: 0;
            }

            &.colspan-border {
                &--bottom {
                    box-shadow: 0 2px 0 #e4e4e4;
                }  
                &--left {
                    border-left: 1px dashed #e4e4e4;
                }
                &--right {
                    border-right: 1px dashed #e4e4e4;
                }
            }
        }
    }       

    tbody {
        tr {
            background-color: #fff;
            border-bottom: 1px solid #e4e4e4;
            &:nth-child(2n+1) {
                background-color: #fff; 
            }
            &:hover {
                background-color: #fff;
            }

            &.main-row {
                background-color: #f3f3f3;

                td {
                    color: #6c757d;
                    font-weight: 700;
                }
            }
        }
        td {
            color: #394454;
            font-size: 0.813rem;
            font-weight: 400;
            border-right: 1px dashed #e4e4e4;
            vertical-align: middle;
            height: 39px;

            &:last-child {
                border-right:0;
            }

            .form-control {
                padding: 5px 5px 5px 6px;
                text-align: right;
                line-height: 1;
                display: inline-block;
                font-size: 13px;
                background: #F4F6F8;
                height: 27px;
            }
        }
    }

    .empty-table-data {
        text-align: center;
        padding: 10px;
    }

    tfoot {
        td {
            padding: 8px 10px;
            font-weight: 700;
            color: #394454;
            border-right: 1px dashed #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            height: 39px;

            &:last-child {
                border-right:0;
            }
        }
    }

    .expCol-wrap {
        position: relative;
        top: 2px;
        margin-right: 10px;
        cursor: pointer;
        font-size: 1rem;
    }

    .badge {
        font-size: 0.625rem;
        border-radius: 30px;
        &.fill {
            &.hq {
                background-color: #069697;
                color: #fff;
            }

            &.br {
                background-color: #4f91ff;
                color: #fff;
            }
        }
    }

    .border-right {
        &.dashed {
            border-right: 1px dashed #e4e4e4 !important;
        }
    }
}
.primary-table tbody tr.main-row td:nth-child(1) {
    padding-left: 10px;
}
.primary-table tbody tr.main-row td {
    color: #394454;
}
.btn-link{
    color: #227bb1;
}
.heading--h5{
    color: #394454;
}
.header-info{
    color: #394454;
    font-size: 13px;
    display: flex;
    align-items: center;
    line-height: 1;
    .i-vNext-info::before{
        color: #A4B9D1;
    }
    a{
        color: #227BB1;
    }
}
.table-wrapper {
    background: #F9FAFB;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 15px 20px;

    h3 {
        font-size: 14px;
        color: #5D656C;
        font-weight: bold;
        margin-bottom: 8px;
    }
}
.alert a {
    font-weight: normal;
    text-decoration: none;
    color: #227BB1;
}
.dropdown a {
    color: #227bb1;
}
.i-vNext-services {
    font-size: 32px;
}
.vNext .alert.alert--info{
    padding-right: 14px !important;
}
.heading--bordered{
    padding-bottom: 6px;
    border-bottom: 1px solid #e4e4e4;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
}
.icon-arrow-stroke{
    font-size: 7px;
}
.cal-wrap {
    position: absolute;
    bottom: 10px;
    right: 13px;
    width: 12px;
    font-size: 12px;
    line-height: 1;
    .i-vNext-calendar {
        &::before {
            color: #059fd9;
        }
    }
}

/*  Contact block -- Starts here  */
.contact-block {
    padding: 16px 18px 14px 18px;
    border:1px solid #e4e4e4;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.14);
    min-width: 315px;
    display: inline-block;

    .heading--h3 {
        font-size: 16px !important;
        line-height: 22px;
        color: #394454;
        letter-spacing: 0.025em;
        text-shadow: 0px 0px #394454;
        text-shadow: none !important;
    }
    p {
        font-size: 12px;
        line-height: 16px;
        color: #5d656c;
    }
}
/*  Contact block -- Ends here  */

.search-wrap {
    border: none;
    margin-bottom: 20px;
    padding: 15px 15px 0 15px;
    
    .form-control {
    padding-right: 50px;
    border-radius: 20px;
    }
    
    .i-vNext-search {
    position: absolute;
    right: 30px;
    bottom: 13px;
    font-size: 16px;
    z-index: 2;
    cursor: pointer;
    }
}
.form-group.search-wrap {
    padding: 0;
    width: 500px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type=number] {
-moz-appearance: textfield;
}
.mb-30{
    margin-bottom: 30px;
}
.heading--h5 {
    font-size: 14px;
    color: #394454;
    text-shadow: 0 0 #394454;
}
.custom-flyout .body {
    max-height: calc(100vh - 110px);
}
.hover-visible {
    display: none;
    color: #227BB1;
    margin-top: 0px;
}
.contact-block:hover .hover-visible {
    display: block;
    margin-top: 10px;
}
.inline-listing li a{
    color: #227BB1;

    .icon-arrow-stroke::before{
        color: #227BB1;
    }
}
.d-none.show{
    display: block !important;
}
/*---------- Responsive CSS ----------*/

@media screen and (min-width:1600px){
    .primary-table tbody td .form-control {
        font-size: 14px;
    }
    .heading--h5 {
        font-size: 15px;
    }
    .heading--bordered{
        font-size: 17px;
    }
}
@media screen and (min-width:1920px){
    .primary-table tbody td .form-control {
        font-size: 15px;
    }
    .heading--h5 {
        font-size: 16px;
    }
    .heading--bordered{
        font-size: 18px;
    }
}