.mr-50 {
    margin-right: 50px;
}

.tab-panel {
    border          : 1px solid #cccccc;
    background-color: #f9f9f9;
    position        : relative;
    margin-top      : 15px;
    padding         : 15px;
    border-radius   : 3px;
}

.selected-val {
    float        : left;
    margin-right : 10px;
    color        : #999;
    margin-top   : 10px;
    max-width    : 150px;
    overflow     : hidden;
    white-space  : nowrap;
    text-overflow: ellipsis;
}

.pos-rel-t5 {
    position: relative;
    top     : 5px;
}

/* to show uppercase for first letter */
.upper::first-letter {
    text-transform: uppercase;
}