.main-table {
    float: left;
    width: 100%;
}

.startQual .btn {
    cursor  : pointer;
    position: relative;
    top     : -5px;
}

.startQual .btn:focus,
.startQual .btn:active {
    box-shadow: none;
}

.fullScreenBtn {
    margin-right: 10px;
}

.customText {
    min-width    : 180px;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
    width        : 100%;
}

.startQualBtn {
    width      : 105px;
    display    : inline-block;
    text-indent: 0;
}

.startQualBtn .btn.btn-primary {
    box-shadow: none !important;
    top       : 0 !important;
}

.lastChild {
    border-bottom: 2px solid #ccc !important;
}

.add-affiliates--Proposal.disabled,
.add-affiliates--Proposal.disabled .icon-add {
    opacity       : 0.5;
    pointer-events: none;
}

.add-affiliates--Proposal {
    background   : rgba(0, 80, 115, 0.05);
    border       : 1px dotted #005073 !important;
    padding      : 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    line-height  : 1;
}

.add-affiliates--Proposal .icon-add,
.add-affiliates--Proposal .icon-edit-1 {
    display       : inline-block;
    vertical-align: middle;
    font-size     : 20px;
    margin-right  : 5px;
    cursor        : pointer;
}

.add-affiliates--Proposal a {
    display       : inline-block;
    vertical-align: middle;
}

.added-info {
    padding      : 0 15px 0 30px;
    font-size    : 0.875rem;
    line-height  : 21px;
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.added-info span {
    cursor: pointer;
}

.selected-affiliates {
    display       : inline-block;
    width         : calc(100% - 310px);
    vertical-align: middle;
}

.file-location {
    display       : inline-block;
    width         : 300px;
    padding       : 5px 10px;
    vertical-align: middle;
    border-left   : 1px solid #ccc;
}

.file-location .icon-pdf1 {
    font-size: 27px;
}

.drag-drop-text {
    display      : inline-block;
    overflow     : hidden;
    white-space  : nowrap;
    max-width    : calc(100% - 35px);
    text-align   : left;
    line-height  : 1;
    text-overflow: ellipsis;
    padding-left : 5px;
}

#qual-subsidiary .ag-fresh .ag-row-level-2 [col-id="customerGuName"] .ag-selection-checkbox {
    display: none;
}