textarea.form-control{
    height: 250px !important;
    resize: vertical;
    border-bottom-color:transparent !important ;
    &:hover{
        border-bottom-color:transparent !important ;
    }
}
.textarea-footer {
    display: flex;
    align-items: center;
    border-top: 1px dashed #AEB8C1;
    padding: 10px;
    background-color: #f4f6f8;
    border-bottom:1px solid #aeb8c1;
    li{
        font-size: 12px;
        color: #227BB1;
        line-height: 1;
        cursor: pointer;

        &:first-child{
        border-right: 1px solid #D3DFEC;
        padding-right: 10px;
        margin-right: 10px;
        }

        span{
            margin-right: 5px;
            font-size: 13px;
            &:before{
                color: #227BB1;
            }
        }
    }
    .disabled{
        opacity: 1;
        color: #879098 !important;
        li{
            color: #879098;

            span:before{
                color: #879098;
            }
        }
    }
}
small{
    color: #6C757D;
    font-size: 12px;
    display: block;
    margin-top: 5px;
    line-height: 1;
}

.downloadOrg {
    border-right: 1px solid;
    padding-right: 10px;
}
