<div>
  <!-- <div class="flexible-div main-content-heading">
    <ul class="nav nav-tabs paddingL0" id="myTab" role="tablist">
      <li class="nav-item" *ngIf="exceptionStatusData.length > 0" >
        <a aria-controls="profile" aria-selected="false" class="nav-link" [ngClass]='{"active": !displayApproverHistory}' data-toggle="tab" href="javascript:"
          id="docusign-tab" role="tab" ng-reflect-klass="nav-link " ng-reflect-ng-class="[object Object]" (click)='changeView(false)'>Approving Team
          Information</a>
      </li>
      <li class="nav-item" *ngIf="exceptionApprovalHistory.length > 0">
        <a aria-controls="home" aria-selected="true" class="nav-link" [ngClass]='{"active": displayApproverHistory}' data-toggle="tab" href="javascript:"
          id="upload-tab" role="tab" ng-reflect-klass="nav-link" (click)='changeView(true)'>Approver History</a>
      </li>
    </ul> -->
    <!-- <div class="col-xs-12 col-md-5 paddingL0">
      <h1 *ngIf='!displayApproverHistory'>Approving Team Information</h1>
      <h1 *ngIf='displayApproverHistory'>Approver History</h1>
    </div>
    <a href="javascript:void(0);"  (click)='changeView(true)' *ngIf='!displayApproverHistory && exceptionApprovalHistory.length > 0' class="ml-auto">Approver History</a>
    <a href="javascript:void(0);"  (click)='changeView(false)' *ngIf='displayApproverHistory && pendingExceptions.length > 0' class="ml-auto">Approving Team Information</a> -->
  <!-- </div> -->
  <div class="exception-approval marginT30 mb-0">
    <ul class="nav nav-tabs paddingL0 border-bottom-light" id="myTab" role="tablist">
        <li class="nav-item" *ngIf="exceptionStatusData.length > 0">
            <a aria-controls="profile" aria-selected="false" class="nav-link active" data-toggle="tab" href="javascript:" id="docusign-tab" role="tab" ng-reflect-klass="nav-link " ng-reflect-ng-class="[object Object]" (click)='changeView(false)' [ngClass]='{"active": !displayApproverHistory}'>Approving Team Information</a>
        </li>
        <li class="nav-item" *ngIf="groupExceptionApproverHistory.length > 0">
            <a aria-controls="home" aria-selected="true" class="nav-link" data-toggle="tab" href="javascript:" id="upload-tab" role="tab" ng-reflect-klass="nav-link" (click)='changeView(true)' [ngClass]='{"active": displayApproverHistory}'>Reviewer History</a>
        </li>
        <li class="approver-button" *ngIf='!displayApproverHistory && showApproverButton' [ngClass]="{'approver-team': !exceptionStatusData.length > 0 || !groupExceptionApproverHistory.length > 0, 'approver-team-history': exceptionStatusData.length > 0 && groupExceptionApproverHistory.length > 0}"><button type="button" [ngClass]="{'disabled': disableApprover || showSubmitDecision}"  (click)='callPreBecomeApporover()' class="btn btn-primary">Become Reviewer</button></li>
    </ul>
    <!-- <div *ngIf='!displayApproverHistory' style="padding-bottom: 10px;padding-top: 10px;float: right"><a href="javascript:void(0);" [ngClass]="{'disabled': disableApprover || showSubmitDecision}"  (click)='becomeApprverBulk(exception)' class="btn btn-primary small-btn">Become Approver</a></div> -->
  </div>
  <div class="clearfix"></div>
  <div class=""  *ngIf="!displayApproverHistory && (exceptionStatusData.length > 0)">
    <!--h5>Approving Team Information -->
        <!-- <span *ngIf="!ciscoDealForPartner" class="price-usd">{{localeService.getLocalizedString('price.est.ALL_PRICES')}} {{constantsService.CURRENCY}}</span> -->
    <!--/h5-->
    <div class="">
        <table class="primary-table">
          <thead>
            <tr *ngIf='!displayApproverHistory'>
              <th *ngIf='!isApproverDecisionSubmitted' width="2%"></th>
              <th width="25%">Exception(s) Requested</th>
              <th width="15%">Team Name</th>
              <th width="10%">Seller's {{localeService.getLocalizedString('common.JUSTIFICATION')}}</th>
              <th width="15%">Reviewer (CEC ID)</th>
              <th width="5%">Decision</th>
              <th width="5%">Reviewer's {{localeService.getLocalizedString('common.JUSTIFICATION')}}</th>
              <th width="15%">Time Taken</th>
              <!-- <th width="10%" *ngIf="isRequestPaPresent">Case</th> -->
            </tr>
          </thead>
          <!-- Approving team info starts -->
          <tbody *ngIf='!displayApproverHistory'>
            <tr *ngFor='let exception of exceptionStatusData; let index = index'>
              <!-- <td>{{index + 1}}</td> -->
              <td *ngIf='!displayApproverHistory && !isApproverDecisionSubmitted'>
                <label class="label-check">
                  <input class="form-check-input" type="checkbox" value="" (change)="selectApprover(exception)" [checked]="exception.selected == true || (exception.allowedToBecomeApprover && exception.decision ==='Pending')" disabled />
                  <span class="custom-checkbox-btn">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </span>
                  <span></span>
                </label>
              </td>
              <td>
                <div class="dropdown-wrap dropup d-inline-block" *ngIf="exception.messages && exception.messages.length > 0">
                  <a href="javascript:void(0);">{{exception.label}}</a>
                  <div aria-labelledby="mainDropdown" class="dropdown-menu rec-dropdown messages comment-details">
                    <ul *ngFor="let message of exception.messages;let index = index" style="padding-left: 15px;">
                      <li>{{message}}</li>
                    </ul>
                    <span class="icon-fill-arrow-down"></span>
                  </div>
                </div>
                <div class="table-exception" *ngIf="!exception.messages || exception.messages.length === 0">{{exception.label}}
                  <a #downloadZipLink [hidden]="true"></a>
                  <span style="padding:0 10px; margin-left:5px; margin-right:5px; border-left: 1px solid #d6d6d6;" *ngIf="isRequestPaPresent && exception.exceptionType === 'PURCHASE_ADJUSTMENT_REQUEST' && exception.sourceRefId">Case Number: {{exception.sourceRefId}}</span>
                  <span style="padding:0 10px; margin-left:5px; margin-right:5px; border-left: 1px solid #d6d6d6;" *ngIf="isRequestPaPresent && exception.exceptionType === 'PURCHASE_ADJUSTMENT_REQUEST' && exception.allowedToBecomeApprover && !exception.sourceRefId"><a href="javascript:void(0);" (click)="addCaseNumber('approverTable')">Assign Case</a></span>
                  <a *ngIf="exception.documents" (click)="downloadPADocument(exception)" href="javascript:" [ngClass]="{'assign-case': exception.exceptionType === 'PURCHASE_ADJUSTMENT_REQUEST' && exception.sourceRefId }"><span class="icon-download-doc" placement="top" container="body"
                    ngbTooltip="View Uploaded Documents"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span></a>
                </div>
              </td>
              <!-- <td>
                <div *ngIf="exception.messages">
                  <ul *ngFor="let message of exception.messages;let index = index">
                    <li>{{index + 1}}. {{message}}</li>
                  </ul>
                </div>
                <div *ngIf="!exception.messages">-</div>
              </td> -->
              <td>
                <div class="dropdown-wrap dropup d-inline-block" *ngIf="exception.teamMembers">
                  <a href="javascript:void(0);" >{{exception.teamName}}</a>
                  <div aria-labelledby="mainDropdown" class="dropdown-menu rec-dropdown team-detail-flyout comment-details">
                    <div class="team-detail-flyout-inner">
                      <table class="primary-table">
                        <thead>
                          <tr>
                            
                            <th width="38%">Name</th>
                            <th width="20%">CEC ID</th>
                            <th width="22%">Region Name</th>
                            <th width="20%">Reviewer Type</th>
                            <!-- <th width="33.3%">Role</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor='let member of exception.teamMembers'>
                            <td>{{member.name}}</td>
                            <td>{{member.cecId}}</td>
                            <td *ngIf="member.regions">{{convertRegionToString(member.regions)}}</td>
                            <td *ngIf="!member.regions">--</td>
                            <td *ngIf="member.primary"><span class="team-member">Primary</span></td>
                            <td *ngIf="!member.primary">-</td>
                            <!-- <td>{{(member.role) ? (member.role) : "-"}}</td> -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <span class="icon-fill-arrow-down"></span>
                  </div>
                </div>
                <div *ngIf="!exception.teamMembers">{{exception.teamName}}</div>
              </td>
              <td>
                <div class="dropdown-wrap dropup d-inline-block" *ngIf="exception.requestReason || exception.requestComment">
                  <a href="javascript:void(0);">View Details</a>
                  <div aria-labelledby="mainDropdown" class="dropdown-menu rec-dropdown seller-comment comment-details">
                    <div class="form-group">
                      <label>Reason Code</label>
                      <p *ngIf="exception.exceptionType !== 'PURCHASE_ADJUSTMENT_REQUEST'"><strong>{{(exception.requestReason) ? (exception.requestReason) : '-'}}</strong></p>
                      <p *ngIf="exception.exceptionType === 'PURCHASE_ADJUSTMENT_REQUEST'"><strong *ngIf="!exception.requestReasons">-</strong>
                        <strong *ngIf="exception.requestReasons">
                          <span *ngFor="let reason of exception?.requestReasons ; let i = index;">{{reason}}
                            <span *ngIf='exception?.requestReasons.length > (i+1)'>, </span>
                        </span>
                        </strong>
                      </p>
                    </div>
                    <div class="form-group">
                      <label>{{localeService.getLocalizedString('common.JUSTIFICATION')}}</label>
                      <p><strong>{{(exception.requestComment) ? (exception.requestComment) : "-"}}</strong></p>
                    </div>
                    <span class="icon-fill-arrow-down"></span>
                  </div>
                </div>
                <div *ngIf="!(exception.requestReason || exception.requestComment)">-</div>
              </td>
              <td *ngIf="exception.actionedBy">{{exception.approverName}} ({{exception.actionedBy}})</td>
              <td *ngIf="!exception.actionedBy">-</td>
              <td>{{(exception.decision) ? (exception.decision) : "-"}}</td>
              <td>
                <div class="dropdown-wrap dropup d-inline-block right" *ngIf="(exception.actionReason || exception.actionComment)">
                  <a href="javascript:void(0);">View Details</a>
                  <div aria-labelledby="mainDropdown" class="dropdown-menu rec-dropdown seller-comment comment-details">
                    <div class="form-group">
                      <label>Reason Code</label>
                      <p><strong>{{(exception.actionReason) ? (exception.actionReason): '-'}}</strong></p>
                    </div>
                    <div class="form-group">
                      <label>{{localeService.getLocalizedString('common.JUSTIFICATION')}}</label>
                      <p><strong>{{(exception.actionComment) ? (exception.actionComment) : '-'}}</strong></p>
                    </div>
                    <span class="icon-fill-arrow-down"></span>
                  </div>
                </div>
                <div *ngIf="!(exception.actionReason || exception.actionComment)">-</div>
              </td>
              <td>
                <div class="dropup right d-inline-block" *ngIf="(exception.requestedAt || exception.actionedAt) && exception.cycleTimeStr">
                  <div class="dropdown-wrap d-inline-block right">
                    <a href="javascript:void(0);">{{(exception.cycleTimeStr) ? (exception.cycleTimeStr) : '-'}}</a>
                    <div aria-labelledby="mainDropdown" class="dropdown-menu rec-dropdown cycle-time comment-details">
                      <div class="form-group">
                        <label>Requested At</label>
                        <p *ngIf="exception?.requestedAt"><strong>{{exception?.requestedAt | date:"dd-MMM-yyyy"}}, {{exception?.requestedAt | date:"HH:mm aa"}}</strong></p>
                        <p *ngIf="!exception?.requestedAt">-</p>
                      </div>

                      <div class="form-group">
                        <label>Worked At</label>
                        <p *ngIf="exception?.approverAssignedAt"><strong>{{exception?.approverAssignedAt | date:"dd-MMM-yyyy"}}, {{exception?.approverAssignedAt | date:"HH:mm aa"}}</strong></p>
                        <p *ngIf="!exception?.approverAssignedAt">-</p>
                      </div>  

                      <div class="form-group">
                        <label>Completed At</label>
                        <p *ngIf="exception?.actionedAt"><strong>{{exception?.actionedAt | date:"dd-MMM-yyyy"}}, {{exception?.actionedAt | date:"HH:mm aa"}}</strong></p>
                        <p *ngIf="!exception?.actionedAt">-</p>
                      </div>

                      <span class="icon-fill-arrow-down"></span>
                    </div>
                  </div>
                </div>
                <div *ngIf="!(exception.requestedAt || exception.actionedAt) || !exception.cycleTimeStr">{{(exception.cycleTimeStr) ? (exception.cycleTimeStr) : '-'}}</div>
              </td>
              <!-- <td>
                <input type="text" value="" class="form-control">
              </td> -->
              <!-- <td *ngIf="exception.decision ==='Pending' || !isApproverDecisionSubmitted"><a href="javascript:void(0);" [ngClass]="{'disabled':!exception.allowedToBecomeApprover || (exception.allowedToBecomeApprover && exception.actionedBy)}"  (click)='becomeApprover(exception)' class="btn btn-primary small-btn">Become Approver</a></td>
              <td *ngIf="exception.decision !=='Pending' || isApproverDecisionSubmitted">-</td> -->
            </tr>
          </tbody>
          <!-- Approving team info ends -->
        </table>
    </div>
  </div>

  <div class="clearfix"></div>

<div *ngIf="displayApproverHistory && groupExceptionApproverHistory.length > 0">
  <div class="card priceEstimate marginT10" *ngFor="let data of groupExceptionApproverHistory">
    <h5 class="card-header">{{data?.groupName}} 
        <span  *ngIf="data.cycleTime" class="price-usd">Overall Time Taken: {{data.cycleTime}}</span>
    </h5>
    <div class="card-body"  *ngIf="(data.proposalExceptionActivities.length > 0)">
      <table class="primary-table">
      <thead>
        <tr>
          <th width="26%">Exception(s) Requested</th>
          <th width="17%">Team Name</th>
          <th width="10%">Seller's {{localeService.getLocalizedString('common.JUSTIFICATION')}}</th>
          <th width="13%">Reviewer (CEC ID)</th>
          <th width="8%">Decision</th>
          <th width="10%">Reviewer's {{localeService.getLocalizedString('common.JUSTIFICATION')}}</th>
          <th width="10%">Time Taken</th>
        </tr>
      </thead>
      <!-- start of approval history -->
      <tbody>
        <tr *ngFor="let exception of data.proposalExceptionActivities">
          <td>
            <div class="dropdown-wrap dropup d-inline-block" *ngIf="exception.messages && exception.messages.length > 0">
              <a href="javascript:void(0);">{{exception.label}}</a>
              <div aria-labelledby="mainDropdown" class="dropdown-menu rec-dropdown messages comment-details">
                <ul *ngFor="let message of exception.messages;let index = index" style="padding-left: 15px;">
                  <li>{{message}}</li>
                </ul>
                <span class="icon-fill-arrow-down"></span>
              </div>
            </div>
            <div class="table-exception" *ngIf="!exception.messages || exception.messages.length === 0">{{exception.label}}
              <a #downloadZipLink [hidden]="true"></a>
              <span *ngIf="isRequestPaPresent && exception.sourceRefId" style="padding:0 10px; margin-left:5px; margin-right:5px; border-left: 1px solid #d6d6d6;">Case Number: {{exception.sourceRefId}}</span>
              <a *ngIf="exception.documents" (click)="downloadPADocument(exception)" href="javascript:" [ngClass]="{'assign-case': exception.exceptionType === 'PURCHASE_ADJUSTMENT_REQUEST' && exception.sourceRefId }"><span class="icon-download-doc" placement="top" container="body"
                ngbTooltip="View Uploaded Documents"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span></a>
            </div>
          </td>
          <td>
           <div class="dropdown-wrap dropup d-inline-block" *ngIf="exception.teamMembers">
             <a href="javascript:void(0);" >{{exception.teamName}}</a>
             <div aria-labelledby="mainDropdown" class="dropdown-menu rec-dropdown team-detail-flyout comment-details">
               <div class="team-detail-flyout-inner">
                 <table class="primary-table">
                   <thead>
                     <tr>
                      <th width="38%">Name</th>
                      <th width="20%">CEC ID</th>                      
                      <th width="22%">Region Name</th>
                      <th width="20%">Reviewer Type</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr *ngFor='let member of exception.teamMembers'>
                       <td>{{member.name}}</td>
                       <td>{{member.cecId}}</td>
                       <td *ngIf="member.regions">{{convertRegionToString(member.regions)}}</td>
                       <td *ngIf="!member.regions">--</td>
                       <td *ngIf="member.primary"><span class="team-member">Primary</span></td>
                       <td *ngIf="!member.primary">-</td>
                       <!-- <td>{{(member.role) ? (member.role) : "-"}}</td> -->
                     </tr>
                   </tbody>
                 </table>
               </div>
               <span class="icon-fill-arrow-down"></span>
             </div>
           </div>
           <div *ngIf="!exception.teamMembers">{{exception.teamName}}</div>
          </td>
          <td>
            <div class="dropdown-wrap dropup d-inline-block" *ngIf="(exception.requestReason || exception.requestComment)">
              <a href="javascript:void(0);">View Details</a>
              <div aria-labelledby="mainDropdown" class="dropdown-menu rec-dropdown seller-comment comment-details">
                <div class="form-group">
                  <label>Reason Code</label>
                  <p *ngIf="exception.exceptionType !== 'PURCHASE_ADJUSTMENT_REQUEST'"><strong>{{(exception.requestReason) ? (exception.requestReason) : '-'}}</strong></p>
                  <p *ngIf="exception.exceptionType === 'PURCHASE_ADJUSTMENT_REQUEST'"><strong *ngIf="!exception.requestReasons">-</strong>
                    <strong *ngIf="exception.requestReasons">
                      <span *ngFor="let reason of exception?.requestReasons ; let i = index;">{{reason}}
                        <span *ngIf='exception?.requestReasons.length > (i+1)'>, </span>
                    </span>
                    </strong>
                  </p>
                </div>
                <div class="form-group">
                  <label>{{localeService.getLocalizedString('common.JUSTIFICATION')}}</label>
                  <p><strong>{{exception.requestComment}}</strong></p>
                </div>
                <span class="icon-fill-arrow-down"></span>
              </div>
            </div>
            <div *ngIf="!(exception.requestReason || exception.requestComment)">-</div>
          </td>
          <td *ngIf="exception.actionedBy">{{exception.approverName}} ({{exception.actionedBy}})</td>
          <td *ngIf="!exception.actionedBy">-</td>
          <td>{{(exception.decision) ? (exception.decision) : "-"}}</td>
          <td>
            <div class="dropup right d-inline-block" *ngIf="(exception.actionReason || exception.actionComment)">
              <div class="dropdown-wrap d-inline-block">
                <a href="javascript:void(0);">View Details</a>
                <div aria-labelledby="mainDropdown" class="dropdown-menu rec-dropdown approver-comment comment-details">
                  <div class="form-group">
                    <label>Reason Code</label>
                    <p><strong>{{(exception.actionReason) ? (exception.actionReason) : '-'}}</strong></p>
                  </div>
                  <div class="form-group">
                    <label>{{localeService.getLocalizedString('common.JUSTIFICATION')}}</label>
                    <p><strong>{{(exception.actionComment) ? (exception.actionComment) : '-'}}</strong></p>
                  </div>
                  <span class="icon-fill-arrow-down"></span>
                </div>
              </div>
            </div>
            <div *ngIf="!(exception.actionReason || exception.actionComment)">-</div>
          </td>
          <td>
            <div class="dropup right d-inline-block" *ngIf="(exception.requestedAt || exception.actionedAt || exception.approverAssignedAt) && exception.cycleTimeStr">
              <div class="dropdown-wrap d-inline-block">
                <a href="javascript:void(0);">{{(exception.cycleTimeStr) ? (exception.cycleTimeStr) : '-'}}</a>
                <div aria-labelledby="mainDropdown" class="dropdown-menu rec-dropdown cycle-time comment-details">
                  <div class="form-group">
                    <label>Requested At</label>
                    <p *ngIf="exception?.requestedAt"><strong>{{exception?.requestedAt | date:"dd-MMM-yyyy"}}, {{exception?.requestedAt | date:"HH:mm aa"}}</strong></p>
                    <p *ngIf="!exception?.requestedAt">-</p>
                  </div>

                  <div class="form-group">
                    <label>Worked At</label>
                     <p *ngIf="exception?.approverAssignedAt"><strong>{{exception?.approverAssignedAt | date:"dd-MMM-yyyy"}}, {{exception?.approverAssignedAt | date:"HH:mm aa"}}</strong></p>
                     <p *ngIf="!exception?.approverAssignedAt">-</p>
                  </div>

                  <div class="form-group">
                    <label>Completed At</label>
                    <p *ngIf="exception?.actionedAt"><strong>{{exception?.actionedAt | date:"dd-MMM-yyyy"}}, {{exception?.actionedAt | date:"HH:mm aa"}}</strong></p>
                    <p *ngIf="!exception?.actionedAt">-</p>
                  </div>

                  <span class="icon-fill-arrow-down"></span>
                </div>
              </div>
            </div>
            <div *ngIf="!(exception.requestedAt || exception.actionedAt) || !exception.cycleTimeStr">{{(exception.cycleTimeStr) ? (exception.cycleTimeStr) : '-'}}</div>
          </td>
        </tr>
      </tbody>
      <!-- end of approval history -->
    </table>
    </div>
</div>
  <!-- <div *ngFor="let data of groupExceptionApproverHistory" class="group-wrap">
    <div class="group-row">
      <div class="group-name">{{data?.groupName}}</div>
      <div class="cylce-time" *ngIf="data.cycleTime">Overall Time Taken: {{data.cycleTime}}</div>
    </div>
    <div *ngIf="(data.proposalExceptionActivities.length > 0)" class="group-table-wrap">
      
    </div>
  </div> -->
</div>

  <!-- Submit Your Decision Start -->
  <div *ngIf='!displayApproverHistory && showSubmitDecision && exceptionDecisionData.length > 0'>
  <!-- <div class="flexible-div main-content-heading" style="width: 89%;">
    <div class="col-xs-12 col-md-5 paddingL0">
      <h1>Submit Your Decision</h1>
    </div>
  </div>
  <div style="float: right;">
    <label class="d-block marginT10"></label>
    <button class="btn btn-primary" type="button" [disabled]="!isEnableSubmit" (click)="submitDecisionBulk()">Submit Decision</button>
  </div> -->
  <div class="exception-approval marginT30 mb-0">
    <ul class="nav nav-tabs paddingL0 border-bottom-light" id="myTab" role="tablist">
        <li class="nav-item">
            <a aria-controls="profile" aria-selected="false" class="nav-link active" data-toggle="tab" href="javascript:" id="docusign-tab" role="tab" ng-reflect-klass="nav-link " ng-reflect-ng-class="[object Object]" [ngClass]='{"active": showSubmitDecision}'>Submit Your Decision</a>
        </li>
        <li style="position: absolute; right: 37px; margin-top: -7px;"><button class="btn btn-primary" type="button" [disabled]="!isEnableSubmit" (click)="submitDecisionBulk()">Submit Decision</button></li>
    </ul>
  </div>
  <div class="clearfix"></div>
  <!-- <div class="row">
    <div class="col-2">
      <div class="position-relative marginT15 marginB30 element-hasvalue">
        <div class="custom-dropdown">
          <div ngbDropdown class="select-items " #selectDecisionDropsearch="ngbDropdown" (click)="selectDecisionDropsearch.open()">
            <span class="dropdown--typeAhead__arrow-management">
              <button id="dropdownManual" ngbDropdownToggle> 
              {{selectedDecision}}</button>
            </span>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <ul>
                <li class="dropdown-item" *ngFor="let item of approvalDecision" (click)="selectDecision(item)">{{item}}</li>
              </ul>
            </div>
            <label class="form_label form-control-placeholder custom-select-lbl labelClass">Approval Decision</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="position-relative marginT15 marginB30 element-hasvalue">
        <div class="custom-dropdown">
          <div ngbDropdown class="select-items " #selectDecisionReason="ngbDropdown" (click)="selectDecisionReason.open()">
            <span class="dropdown--typeAhead__arrow-management">
              <button id="dropdownManual" ngbDropdownToggle [disabled]="!isDecisionSelected"> 
              {{selectedReason}}</button>
            </span>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <ul>
                <li class="dropdown-item" *ngFor="let item of giveReason" (click)="selectReason(item)">{{item}}</li>
              </ul>
            </div>
            <label class="form_label form-control-placeholder custom-select-lbl labelClass">Give Reason</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="position-relative marginT15 marginB10">
          <input type="text" class="form-control active" [(ngModel)]="aprroverComment" (ngModelChange) = "approverCommentAdded($event)" placeholder="Write comments"/>
          <label class="form_label form-control-placeholder">Comments</label>
      </div>
    </div>
    <div class="col-2">
      <label class="d-block marginT15"></label>
      <button class="btn btn-primary" type="button" [disabled]="!isEnableSubmit" (click)="submitDecision()">Submit Decision</button>
    </div>
  </div> -->

  <!-- Bulk approval - selecting decision, reason and comement tabular form starts -->
  <div class="">
    <div class="padding-with-dropdwn">
      <table class="primary-table" *ngIf="(exceptionDecisionData.length > 0)">
        <thead>
          <tr>
            <th width="30%">Exception(s) Requested</th>
            <th width="8%" *ngIf="showSYD">Opportunity Type</th>
            <th width="8%" *ngIf="showSYD">TCV of Early Follow-on </th>
            <th width="8%" *ngIf="showSYD">Estimated Credit</th>
            <th width="12%">Approval Decision <sup class="import">*</sup></th>
            <th width="17%">Give Reason <sup class="import">*</sup></th>
            <th width="17%">{{localeService.getLocalizedString('common.JUSTIFICATION')}}<sup class="import" *ngIf="justificationMandatory">*</sup></th>
          </tr>
        </thead>

        <!-- Approval history starts with approved data -->
        <tbody>
          <tr *ngFor="let data of exceptionDecisionData">
            <!-- <td>{{index + 1}}</td> -->
            <td>
              <div class="dropdown-wrap dropup d-inline-block" *ngIf="data.messages && data.messages.length > 0">
                <a href="javascript:void(0);">{{data.label}}</a>
                <div aria-labelledby="mainDropdown" class="dropdown-menu rec-dropdown messages comment-details">
                  <ul *ngFor="let message of data.messages;let index = index" style="padding-left: 15px;">
                    <li>{{message}}</li>
                  </ul>
                  <span class="icon-fill-arrow-down"></span>
                </div>
              </div>
              <span style="display: inline-block;" *ngIf="data.exceptionId === 'EARLY_RENEWAL_REQUEST'">
                <a #downloadZipLink [hidden]="true"></a>
                &nbsp;(<a href="javascript:void(0);" title="Download subscription details" (click)="downloadSubscriptionDetails()">Download subscription details</a>)
              </span>
              <div *ngIf="!data.messages || data.messages.length === 0">{{data.label}}</div>
            </td>
              <td *ngIf="data.exceptionId === 'EARLY_RENEWAL_REQUEST' && data.opportunityType; else NoOpportunityType">{{data.opportunityType}}</td>
              <ng-template #NoOpportunityType>
                <td *ngIf="showSYD">NA</td>
              </ng-template>
              <td *ngIf="data.exceptionId === 'EARLY_RENEWAL_REQUEST' && data.tcvOfEarlyFollowOn; else NoTcvOfEarlyFollowOn">{{utilitiesService.formatValue(utilitiesService.getFloatValue(data.tcvOfEarlyFollowOn))}}</td>
              <ng-template #NoTcvOfEarlyFollowOn>
                <td *ngIf="showSYD">NA</td>
              </ng-template>
              <td *ngIf="data.exceptionId === 'EARLY_RENEWAL_REQUEST' && (data.estimatedCredit>= 0); else NoEstimatedCredit">{{utilitiesService.formatValue(utilitiesService.getFloatValue(data.estimatedCredit))}}</td>
              <ng-template #NoEstimatedCredit>
                <td *ngIf="showSYD">NA</td>
              </ng-template>
            <td>
              <div class="position-relative element-hasvalue">
                <div class="custom-dropdown">
                  <div ngbDropdown class="select-items " (click)="dropDecision(data)">
                    <span class="dropdown--typeAhead__arrow-management">
                      <button id="dropdownManual" class="btn--text drop-button" ngbDropdownToggle style="width: 100%; text-align: initial;">
                        {{(data.selectedDecision?.decisionType) ? (data.selectedDecision?.decisionType) : selectedDecision }}</button>
                    </span>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf="data.selectDecisionDropsearch">
                      <ul>
                        <li class="dropdown-item" *ngFor="let item of approvalDecision"
                          (click)="selectDecisionBulk(item, data)">{{item}}</li>
                      </ul>
                    </div>
                    <!-- <label class="form_label form-control-placeholder custom-select-lbl labelClass">Approval Decision</label> -->
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="position-relative element-hasvalue">
                <div class="custom-dropdown">
                  <div ngbDropdown class="select-items " (click)="dropReason(data)">
                    <span class="dropdown--typeAhead__arrow-management">
                      <button id="dropdownManual" class="btn--text drop-button" ngbDropdownToggle [disabled]="!data.selectedDecision?.decisionType" style="width: 100%; text-align: initial;">
                        {{(data.selectedReason) ? (data.selectedReason) : selectedReason}}</button>
                    </span>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf="data.selectDecisionReason">
                      <ul>
                        <li class="dropdown-item" *ngFor="let item of giveReason" (click)="selectReasonBulk(item, data)">
                          {{item}}</li>
                      </ul>
                    </div>
                    <!-- <label class="form_label form-control-placeholder custom-select-lbl labelClass">Give Reason</label> -->
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="position-relative">
                <input type="text" class="form-control active py-1 fs-13 border-radius-unset" (blur)="approverCommentBulkAdded($event, data, index)"
                (keyup)="approverCommentAdded($event, data)" placeholder="Write justification" />
                <!-- <label class="form_label form-control-placeholder">Comments</label> -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Bulk approval - selecting decision, reason and comement tabular form ends -->

  <!-- <div class="row" *ngFor="let data of exceptionDecisionData; let index = index ">
    <div class="col-2">
      <div class="position-relative marginT15 marginB30 element-hasvalue">
        <div class="custom-dropdown">
          <div ngbDropdown class="select-items " #selectDecisionDropsearch="ngbDropdown" (click)="dropDecision(data)">
            <span class="dropdown--typeAhead__arrow-management">
              <button id="dropdownManual" ngbDropdownToggle> 
              {{(data.selectedDecision?.decisionType) ? (data.selectedDecision?.decisionType) : selectedDecision }}</button>
            </span>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <ul>
                <li class="dropdown-item" *ngFor="let item of approvalDecision" (click)="selectDecisionBulk(item, data)">{{item}}</li>
              </ul>
            </div>
            <label class="form_label form-control-placeholder custom-select-lbl labelClass">Approval Decision</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="position-relative marginT15 marginB30 element-hasvalue">
        <div class="custom-dropdown">
          <div ngbDropdown class="select-items " #selectDecisionReason="ngbDropdown" (click)="dropReason(data)">
            <span class="dropdown--typeAhead__arrow-management">
              <button id="dropdownManual" ngbDropdownToggle [disabled]="!data.selectedDecision?.decisionType"> 
              {{(data.selectedReason) ? (data.selectedReason) : selectedReason}}</button>
            </span>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <ul>
                <li class="dropdown-item" *ngFor="let item of giveReason" (click)="selectReasonBulk(item, data)">{{item}}</li>
              </ul>
            </div>
            <label class="form_label form-control-placeholder custom-select-lbl labelClass">Give Reason</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="position-relative marginT15 marginB10">
          <input type="text" class="form-control active" (blur) = "approverCommentBulkAdded($event, data, index)" placeholder="Write comments"/>
          <label class="form_label form-control-placeholder">Comments</label>
      </div>
    </div> -->
    <!-- <div>
      <label class="d-block marginT15"></label>
      <button class="btn btn-primary" type="button" [disabled]="!isEnableSubmit" (click)="submitDecision()">Submit Decision</button>
    </div> -->
  <!-- </div> -->
  <!-- <div>
    <label class="d-block marginT15"></label>
    <button class="btn btn-primary" type="button" [disabled]="!isEnableSubmit" (click)="submitDecisionBulk()">Submit Decision</button>
  </div> -->

</div>
  <!-- Submit Your Decision End -->
</div>