.recommend-footerblock>ul li.disabled a {
	pointer-events: none;
}

.recommend-footerblock>ul li.disabled a {
	pointer-events: none;
}

.proposal-action a.disabled {
	pointer-events: none;
}
.cross-hover-info table {
	width: auto !important;
}
 .dropdown-menu {
    width: 538px !important;
}
