<ul class="filter-opt float-left">
  <li>
    <a href="javascript:" class="show-filter pl-0" (click)="filtersService.toggleFiltersState('')">
      <!-- <span class="icon-filters" *ngIf="!filtersService.getFiltersState()"></span> -->
      <img src="assets/images/filter.svg"> 
      <span class="opt-head" *ngIf="!filtersService.getFiltersState()">{{localeService.getLocalizedString('filters.FILTERS')}}<span  class="badge">({{filtersService.filterAppliedCount}})</span></span>
     </a>
  </li>
  <!--<li> 
     <a href="javascript:" class="show-filter" (click)="openViewAppliedFiltersModal()">    
      <span class="icon-view-applied"></span>
      <span class="opt-head">View Applied ({{filtersService.filterAppliedCount}})</span>
    </a>
  </li> -->
</ul>
