<div class="modal-body vNext modal-without-header">
    <button class="icon-close-btn" (click)="close()" type="button" attr.action-id="{{dataIdConstantsService.engageSupportTeam_button_closeIcon}}"></button>

    <!-- <h2 *ngIf="!eaService.features.CHANGE_SUB_FLOW">{{localizationService.getLocalizedString('common.ENGAGE_SUPPORT_TEAM')}}</h2> -->
    <h2>{{localizationService.getLocalizedString('common.REQUEST_SUPPORT')}}</h2>
</div>
<div class="modal-body vNext modal-without-header">
    <div class="col-12 marginB20" *ngIf="isRequestedEnageSupport">
        <div class="d-flex justify-content-between align-items-center info-alert-blue bl-3">
            <span class="d-flex align-items-center">
                <span class="icon-msg-Info mr-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                <span class="pos-rel t-1">{{localizationService.getLocalizedString('enagage-support-team.WITHDRAW_EXCEPTION_CONFIRMATION')}}</span>
            </span>
        </div>
    </div>

    <div class="row px-5 pt-3" *ngIf="isRequestedEnageSupport">
        <div class="col-12" *ngFor="let exception of exceptionsData; let i=index">
            <div class="text-block">
                <div class="title">{{localizationService.getLocalizedString('enagage-support-team.REASONS')}}</div>
                <p><strong *ngIf="!exception.selectedReasons">-</strong>
                    <strong *ngIf="exception.selectedReasons">
                      <span *ngFor="let reason of exception?.selectedReasons ; let i = index;">{{reason}}
                        <span *ngIf='exception?.selectedReasons.length > (i+1)'>, </span>
                    </span>
                    </strong>
                  </p>
            </div>
            <div class="text-block">
                <div class="title">{{localizationService.getLocalizedString('common.BUSINESS_JUSTIFICATION')}}</div>
                <p><strong>{{(exceptionDataObj.comment) ? (exceptionDataObj.comment) : "-"}}</strong></p>
            </div>
        </div>
    </div>

    <div class="row px-5 pt-3" *ngIf="!isRequestedEnageSupport">
        <div class="col-12" *ngFor="let exception of exceptionsData; let i=index">
            <div class="form-group mt-0 mb-3">
                <label class="customer-label mb-1">{{localizationService.getLocalizedString('common.SELECT_A_REASON')}}<sup>*</sup></label>
                <div class="select-items dropdown" (clickOutside)="showDropDown = false;">
                    <span class="dropdown--typeAhead__arrow-management">
                        <button class="btn--text drop-button dropdown-toggle" type="button" attr.action-id="{{dataIdConstantsService.engageSupportTeam_button_selectReason}}{{exception.exceptionType}}" (click)="prepareSelectedReasons(exception)" *ngIf="!exception?.selectedReasons || (exception?.selectedReasons && !exception?.selectedReasons.length)">{{localizationService.getLocalizedString('common.SELECT_REASON')}}</button>
                        <button class="btn--text drop-button dropdown-toggle" type="button" attr.action-id="{{dataIdConstantsService.engageSupportTeam_button_selectReason}}{{exception?.exceptionType}}" (click)="prepareSelectedReasons(exception)" *ngIf="exception?.selectedReasons && exception?.selectedReasons.length">
                            <span *ngFor="let reason of exception?.selectedReasons ; let i = index;">{{reason}}
                                <span *ngIf='exception?.selectedReasons.length > (i+1)'>, </span>
                            </span>
                        </button>
                    </span>
                    <div class="dropdown-menu"  [class.show]="showDropDown">
                        <ul>
                            <ng-container *ngFor="let reason of exception.reasons; let index = index;">
                            <li  
                                (click)="selectExceptionsReason(reason, exception?.exceptionType, exception)" attr.action-id="{{dataIdConstantsService.engageSupportTeam_checkbox_selectExceptionsReason}}{{index}}">
                                <label class="label-check"><input  [disabled]="defaultedPaReasons.includes(reason)" class="form-check-input" type="checkbox"
                                        [checked]="checkSelectedReasons(reason)" attr.data-id="{{dataIdConstantsService.engageSupportTeam_checkbox_checkSelectedReasons}}{{index}}"><span class="custom-checkbox-btn i-vNext-fonts"><span
                                            class="path1"></span><span class="path2"></span><span class="path3"></span></span><span></span>
                                    <span class="drop-selected">{{reason}}</span></label>
                            </li>
                        </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
        </div> 

        <div class="col-12">
            <div class="form-group mt-0 mb-3">
                <label class="customer-label mb-1">{{localizationService.getLocalizedString('common.BUSINESS_JUSTIFICATION')}}<sup>*</sup></label>
                <textarea #test (keyup) = "textAreaAdjust(test)"type="text" attr.data-id="{{dataIdConstantsService.engageSupportTeam_text_justification}}" class="form-control mt-0 resizeTextArea" [(ngModel)]="exceptionComment" (ngModelChange) = "isExceptionCommentChanged()"  placeholder="{{localizationService.getLocalizedString('enagage-support-team.ADD_BUSINESS_JUSTIFICATION')}}"></textarea>
            </div>
        </div>
        <div class="col-12" *ngIf="submissionInfo">
            <div class="alert alert--warning alert-dismissable justify-content-between mb-3">
                <div class="d-flex align-items-center">
                <span class="alert-icon">
                    <span class="icon-warning1"><span class="path1"></span><span class="path2"></span><span
                            class="path3"></span></span>
                </span>
                <span ><b>{{'enagage-support-team.UPON_SUBMISSION' | localizationPipe : localizationService.localizedkeySet.size}}</b>{{'enagage-support-team.FOLLOW_STEPS' | localizationPipe : localizationService.localizedkeySet.size}}</span>
                 </div>
                <span class="icon-close-btn" (click)="submissionInfo = false;"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-secondary sm cancel-btn" attr.action-id="{{dataIdConstantsService.engageSupportTeam_button_closeButton}}" id="{{elementIdConstantsService.EngageSupportTeam_Cancel}}" (click)="close()">{{localizationService.getLocalizedString('common.CANCEL')}}</button>
    <button class="btn btn-primary ml-2" type="button" attr.action-id="{{dataIdConstantsService.engageSupportTeam_button_done}}" (click) = "submit()" [disabled]="!enableSubmit" *ngIf="!isRequestedEnageSupport">{{localizationService.getLocalizedString('common.DONE')}}</button>
    <button class="btn btn-primary ml-2" type="button" attr.action-id="{{dataIdConstantsService.engageSupportTeam_button_withdrawException}}" (click) = "withdrawSupport()" [disabled]="proposalStoreService.proposalData?.subscriptionInfo?.existingCustomer" *ngIf="isRequestedEnageSupport">{{localizationService.getLocalizedString('enagage-support-team.WITHDRAW_EXCEPTION')}}</button>
    <button class="btn btn-primary ml-2" type="button" attr.action-id="{{dataIdConstantsService.engageSupportTeam_button_edit}}" (click) = "edit()" *ngIf="isRequestedEnageSupport && proposalStoreService.proposalData?.subscriptionInfo?.existingCustomer">{{localizationService.getLocalizedString('common.EDIT')}}</button>
</div>