<div class="modal-header tco-modal">
    <div class="hgroup">
        <h5 class="modal-title">{{localeService.getLocalizedString('modal.paramfeature.FEATURE')}} {{suiteName}}</h5>
        <h6 class="noteText">{{localeService.getLocalizedString('modal.paramfeature.CASCADE_FEATURE')}}</h6>
    </div>
    <button type="button" class="icon-close-btn" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-lg-12 custom_scroll">
            <div class="check marginB5" *ngFor="let item of data;let i=index">
                <!-- <input class="form-check-input"type="checkbox" id="{{i}}"  (change)="checkboxSelection($event,item)">
            <label for="{{i}}">
                <span></span>{{item}}</label> -->
                <label class="label-check mr-3" for="{{i}}">
                    <input class="form-check-input" type="checkbox" value="" id="{{i}}" (change)="checkboxSelection($event,item)"
                        [checked]="item.checked">
                        <span class="custom-checkbox-btn">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </span>
                    <span></span>
                    <span>{{item.item}}</span>
                </label>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">{{localeService.getLocalizedString('common.CANCEL')}}</button>
    <button [disabled]='!featureChanged' type="button" class="btn btn-primary" data-dismiss="modal" (click)="apply()">{{localeService.getLocalizedString('common.APPLY')}}</button>
</div>
