<div>
    <label>View</label>
    <select [(ngModel)]="paginationObject.pageSize" (ngModelChange)="pageChange('pageSize')">
        <option [ngValue]="50" [selected]>50</option>
        <option [ngValue]="100">100</option>
        <option [ngValue]="150">150</option>
        <option [ngValue]="200">200</option>
    </select>
</div>
<ngb-pagination [collectionSize]="paginationObject.collectionSize" [(page)]="paginationObject.page" [boundaryLinks]="true" [maxSize]="5" [pageSize]="paginationObject.pageSize" (pageChange)="pageChange('page')"></ngb-pagination>