<div class="modal-header">
    <h5 class="modal-title">Early Follow-on Approval</h5>
    <button type="button" class="icon-close-btn" data-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body mb-3">
    <div class="modal-icon-center mt-3">
        <span class="icon-early-renewals"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span>
    </div>
    <h2 class="heading--h3 text-center">{{message}}</h2>
</div>

<div class="modal-footer">
    <div class="col-md-12 d-flex justify-content-end">
        <button class="btn btn-secondary" type="button" (click) = 'close()'>Cancel</button>
        <button class="btn btn-primary ml-2" type="button" (click) = 'continue()'>Continue</button>
    </div>
</div>