$browser-context:16;
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}
.reminder-text {
    font-size: rem(14);
    padding: 10px;
    display: block;
}

.btn {
    padding: 10px 20px !important;
    font-size: rem(14);            
    border-radius: 50px;
    margin: 0 6px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &.sm {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }

    &.btn-primary {
        color: #fff;
        border-color: #227bb1;
        background-color: #227bb1;
    }

    &.btn-secondary {
        color: #227bb1;
        border-color: #227bb1;
    }
}