.main-table.eaProspect-table {
    float: left;
    width: 100%;
}

.startQual .btn {
    cursor  : pointer;
    position: relative;
    top     : -5px;
}

.fullScreenBtn {
    margin-right: 10px;
}

.no-padding {
    padding-right: 0px;
    padding-left : 0px;
}