$browser-context:16;
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}
.custom-flyout {
    width: 68%;
    .body {
        height: calc(100vh - 150px);
    }
}

.dropdown {
    .dropdown-menu {
        li {
            border-bottom: 1px solid #e4e4e4;
            &.others {
                border-bottom: 0;
            }
            &.active {
                color: #394454 !important;
            }
        }
    }
}  

.ea-wrap {
    padding: 15px 15px 8px;
    border: 1px solid #e4e4e4;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    background-color: #fff;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    position: relative;
    overflow: hidden;
    border-bottom: 7px solid transparent;

    .icon-tick-check {
        font-size: rem(16);
        position: absolute;
        right: 11px;
        top: 11px;
        .path1 {
            &::before {
                color: #ccc;
            }
        }
    }

    &.active {
        border-bottom: 7px solid #059fd9;
        .icon-tick-check {    
            .path1 {
                &::before {
                    color: #059fd9;
                }
            }
        }
    }
    h4 {
        color: #6C757D;
        font-size: rem(14);
        font-weight: 400;
        margin-bottom: 20px;
    }
    h5 {
        color: #394454;
        font-weight: 600;
        letter-spacing: 0.025em;
        line-height: 1;
    }
    .inline-listing {
        display: flex !important;
        align-items: center;
        font-size: rem(12);
        color: #394454;
        margin-top: 9px;
        line-height: 1;
        li{
            padding: 0 6px;
            &:first-child{
                padding-left: 0;
            }
        }
    }
}


.label-check {
    position: absolute;
    right: 10px;
}

.label-check input[type=checkbox], .label-check input[type=checkbox]~.custom-checkbox-btn {
    right: 0;
    left: auto;
}