/*  Table Styling -- Starts Here  */
$browser-context:16;
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}
.primary-table {
    thead {
        th {
            color: #6c757d;
            font-size: rem(12);
            font-weight: 700;
            background-color: #fff;
            padding-top: 10px;
            padding-bottom: 8px;
            border-top: 1px solid #d6d6d6;
            border-bottom: 1px solid #d6d6d6;
            border-right: 1px dashed #d6d6d6;
            position: static;

            &:last-child {
                border-right: 0;
            }

            &.colspan-border {
                &--bottom {
                    box-shadow: 0 2px 0 #d6d6d6;
                }  
                &--left {
                    border-left: 1px dashed #d6d6d6;
                }
                &--right {
                    border-right: 1px dashed #d6d6d6;
                }
            }
        }
    }       

    tbody {
        tr {
            background-color: #fff;
            &:nth-child(2n+1) {
                background-color: #fff; 
            }
            &:hover {
                background-color: #fff;
            }

            &.main-row {
                background-color: #f3f3f3;

                td {
                    color: #6c757d;
                    font-weight: 700;
                }
            }
            &.table-sub-row {
                td {
                    &:first-child {
                        padding-left: 33px;
                    }  
                }
            }

            &.main-row-tr {
                background-color: #f4f6f8;
            }
        }
        td {
            color: #394454;
            font-size: rem(12);
            font-weight: 400;
            border-right: 1px dashed #d6d6d6;            

            &:last-child {
                border-right:0;
            }
            .form-control {
                padding: 7px 6px;
                text-align: right;
                line-height: 1;
            }
        }
    }

    .empty-table-data {
        text-align: center;
        padding: 10px;
    }

    tfoot {
        td {
            padding: 8px 10px;
            font-weight: 700;
            color: #394454;
        }
    }

    .expCol-wrap {
        position: relative;
        top: -1px;
        margin-right: 7px;
        cursor: pointer;
    }

    .badge {
        font-size: rem(10);
        border-radius: 30px;
        &.fill {
            &.hq {
                background-color: #069697;
                color: #fff;
            }

            &.br {
                background-color: #4f91ff;
                color: #fff;
            }
        }
    }
}

.smart-switch-wrapper {
    position: relative;
    top: 3px;
    .smart-switch {
        margin: 0 10px;
        height: 12px;
        width: 40px;
        background-color: #00bceb;
        cursor: pointer;

        &::before {
            height: 20px;
            width: 20px;
            left: 0px;
            top: -4px;
            border: 1px solid #00bceb;
            border-radius: 15px;
        }

        &.active {
            background: #00bceb;
            &::before {
                right: 0;
                left: unset;
            }
        }
    }
    .label {
        color: #394454;
        font-size: rem(14);
    }
}

.btn {
    padding: 10px 20px !important;
    font-size: rem(14);            
    border-radius: 50px;
    margin: 0 6px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &.btn-primary {
        color: #fff;
        border-color: #227bb1;
        background-color: #227bb1;
    }

    &.btn-secondary {
        color: #227bb1;
        border-color: #227bb1;
    }
}
