.vNext-benefit-wrap {
    text-align: center;
    .heading--h5 {
        color: #394454;
        line-height: 24px;
    }
    .heading--h6 {
        color: #6c757d;
        small {
            font-size: 0.75rem;
            line-height: 16px;
        }
    }

    .big-text {
        color: #394454;
        font-size: 2.375rem;
        line-height: 52px;
        margin-top: 10px;
        font-weight: 500;
    }
}

.progress-wrap {
    &.vNext-progress {
        width: 100%;
        .progress {
            background-color: #eceff1;
            position: relative;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 16px !important;
            border-radius: 30px;

            .progress-bar{
                background-color: #fcaf5c;
                border-radius: 30px;

                &.midPlus {
                    background-color: #64bbe3;    
                }
            }
        }
    }
    .progressbar-legends {
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;
        margin-top: 15px;
        line-height: 1;
    }
}

.progressValue {
    margin-left: 20px;
    font-size: 0.875rem;
    color: #879098;
    font-weight: 700;
}

.custom-flyout  {
    &.cust-md {
        width: 920px;
    }
    .body {
        max-height: calc(100vh - 90px);
    }
}

.italic-text {
    font-style: italic;
}

/*  Table Styling -- Starts Here  */
.primary-table {
    thead {
        th {
            color: #6c757d;
            font-size: 0.813rem;
            font-weight: 700;
            background-color: #fff;
            padding-top: 10px;
            padding-bottom: 8px;
            border-top: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            border-right: 1px dashed #e4e4e4;
            position: static;
            vertical-align: bottom ;
            line-height: 18px;

            &:last-child {
                border-right: 0;
            }
            &.no-colspan {
                width: 10% !important;
                text-align: right !important;
            }

            .i-vNext-help-filled {
                font-size: 0.875rem;
                cursor: pointer;
                position: relative;
                bottom: 2px;
                &::before {
                    color: #c2d1e2;
                }

                .tooltip-inner-content {
                    display: none;
                    font-family: "CiscoSans";
                    position: absolute;
                    top: -85px;
                    padding:12px;
                    color: #394454;
                    font-size: 0.75rem;
                    width: 200px;
                    left: -97px;
                    background-color: #fff;
                    text-align: left;
                    border: 1px solid #e7e5e5;
                    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
                    line-height: 16px;
                }
                &:hover {
                    .tooltip-inner-content {
                        display: block;

                        &::before {
                            content: "";
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid #e7e5e5;
                            font-size: 0;
                            line-height: 0;
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin-left: calc(50% - 5px);
                            bottom: -10px;
                            z-index: 9;
                            transform: rotate(180deg);
                        }
                        &::after {
                            content: "";
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid #fff;
                            font-size: 0;
                            line-height: 0;
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin-left: calc(50% - 5px);
                            bottom: -9px;
                            transform: rotate(180deg);
                            z-index: 9;
                        }
                    }
                }
            }

            .th-with-info {
                display: flex;
                width: 100%;
                align-items: flex-end;
                position: relative;
            }

            &.colspan-border {
                &--bottom {
                    box-shadow: 0 2px 0 #e4e4e4;
                }  
                &--left {
                    border-left: 1px dashed #e4e4e4;
                }
                &--right {
                    border-right: 1px dashed #e4e4e4;
                }
            }
        }
    }       

    tbody {
        tr {
            background-color: #fff;
            border-bottom: 1px solid #e4e4e4;
            &:nth-child(2n+1) {
                background-color: #fff; 
            }
            &:hover {
                background-color: #fff;
            }

            &.main-row {
                background-color: #f3f3f3;

                td {
                    color: #6c757d;
                    font-weight: 700;
                }
            }
            &.table-sub-row {
                td {
                    &:first-child {
                        padding-left: 36px;
                    }  
                }
            }
        }
        td {
            color: #394454;
            font-size: 0.813rem;
            font-weight: 400;
            border-right: 1px dashed #e4e4e4;
            vertical-align: middle;
            padding: 6px 10px;
            height: 39px;

            &:last-child {
                border-right:0;
            }

            .form-control {
                padding: 5px 5px 5px 6px;
                text-align: right;
                line-height: 1;
                width: 70px;
                display: inline-block;
                font-size: rem(13);
                background: #F4F6F8;
                height: 27px;
            }
        }
    }

    .empty-table-data {
        text-align: center;
        padding: 10px;
    }

    tfoot {
        td {
            padding: 8px 10px;
            font-weight: 700;
            color: #394454;
            border-right: 1px dashed #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            height: 39px;

            &:last-child {
                border-right:0;
            }
        }
    }

    .expCol-wrap {
        position: relative;
        top: 2px;
        margin-right: 10px;
        cursor: pointer;
        font-size: 1rem;
    }

    .badge {
        font-size: 0.625rem;
        border-radius: 30px;
        &.fill {
            &.hq {
                background-color: #069697;
                color: #fff;
            }

            &.br {
                background-color: #4f91ff;
                color: #fff;
            }
        }
    }
}