$browser-context:16;
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}
.vNext-lookup-desc {
    p {
        font-size: rem(16);
        color: #394454;;
        a{
            color: #059FD9;
        }
    }

    .acknowldge-div {
        span {
            font-size: 0.875rem;
            color: #4A4B57;
        }
    }
}
textarea.form-control{
    min-height: 60px;
    //resize: vertical;
    margin-top: 0;
    height: 169px;
    // background-image: url(/assets/images/show-more.jpg);
    // background-repeat: no-repeat;
    // background-position: bottom right;
}
.upload-file-name {
    font-size: 12px;
    font-weight: 700;
}

.action-wrap {
    &.download-link {
        width: 150px;
    }
}

/*---------- Responsive ----------*/
@media screen and (min-width:1600px){
    .vNext-lookup-desc p {
        font-size: rem(17);
    }
    .vNext-lookup-desc .acknowldge-div span {
        font-size: rem(15);
    }
}

@media screen and (min-width:1920px){
    .vNext-lookup-desc p {
        font-size: rem(18);
    }
    .vNext-lookup-desc .acknowldge-div span {
        font-size: rem(16);
    }
}

.file-upload-section {
    .heading--h6 {
        font-size: 0.75rem;
        color: #5a5b6a;
        font-weight: 700;
    }
    .i-vNext-download {
        &::before {
            color: #227bb1;
        }
    }
    .signature-icon-wrap {
        width: 24px;
        height: 32px;
        margin-right: 15px;

        img {
            width: 100%;
        }
    }
    a {
        font-size: 0.75rem;
        color: #227bb1;
    }

    .drag-drop {
        margin-top: 3px;
        background-color: #f3f9ff;
        height: 148px;
        border-radius: 3px;
        border: 1px solid #d4e8fc;

        span {
            color: #394454;
            font-size: 0.75rem;
            line-height: 1rem;
        }
    }
}