<div class="modal-header">
  <h5 class="modal-title">{{localeService.getLocalizedString('common.REOPEN')}} {{header}}</h5>
  <button class="icon-close-btn" type="button" (click)="close()"></button>
</div>
<div class="modal-body">
  <div class="body-content info-alert-message">
    <div class="info-txt">
      <B>{{this.localeService.getLocalizedMessage('common.IMPORTANT')}}</B><br/>
      <label class="confirm-label">
      {{warningMessage_one}}
      </label>
      <label class="confirm-label">
      {{warningMessage_two}}
      </label>
     <label class="confirm-label" *ngIf = "isProposalReopen && proposalDataService.relatedCxProposalId">
      {{this.localeService.getLocalizedMessage('common.CX_REOPEN')}}
      </label>
      <div class="modal-important-msg">

        <h4 class="confirm-label heading">
        {{warningMessage_reopen}}
        </h4>
        <ul>
          <li class="confirm-label">
            {{warningMessage_three}}</li>
            <li class="confirm-label">
              {{warningMessage_four}}</li>
        </ul>
        
      </div>
    <div class=" acknowldge-div bold">
      <label class="label-check">
        <input class="form-check-input"  id="reOpenQualProposalCheck" type="checkbox"
        (change) = "confirmReOpen()" value="" />
        <span class="custom-checkbox-btn">
          <span class="path1"></span>
          <span class="path2"></span>
      </span>
      <span>{{localeService.getLocalizedMessage('common.REOPEN_WARNING_QUAL_PART_FIVE')}}</span>
      </label>
    </div>
    </div>    
</div>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" type="button" (click)="close()">{{localeService.getLocalizedString('common.CANCEL')}}</button>
  <button class="btn btn-primary btn-continue" [disabled]="reOpenQualProposalCheck" (click)="continue()" type="button"><span class="mid-text">{{localeService.getLocalizedString('common.CONTINUE')}}</span> <span class="icon-btn-continue"></span></button>
</div>