.i-vNext-arrow-down-heavy{
    font-size: 10px;
    top: 1px;
    &::before {
        color: #227bb1;
    }
}

.inline-listing li a {
    color: #227bb1;
}
.inline-listing {
    &.search-listing {
        .dropdown-menu {
            left: 0;
            right: auto;
            min-width: 185px;
        }
    }
    li {
        &.dropdown {
            .dropdown-menu {
                li {
                    padding: 6px 0;
                }
            }
            &.more-actions {
                .dropdown-menu {
                    border: none;
                    padding-block: 0 !important;
                    min-width: 185px;
                    box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 5px -1px rgba(0, 0, 0, 0.10);
                    li {
                        transition: all 0.5s ease 0s;
                        -webkit-transition: all 0.5s ease 0s;
                        .listing-icon {
                            font-size: 1rem;
                            &::before {
                                color: #394454;
                            }
                        }
                        &:hover, &:active {
                            background-color: #e5f2ff !important;
                        }
                    }
                } 
            }
        }
    }
}
.i-vNext-scanning::before{
    color: #005073;
}
.ib-popup{
    background: #ffffff;
    color: #58585b;
    box-shadow: 0 3px 9px 2px rgb(0 0 0 / 20%);
    font-size: 13px;
    width: 330px;
    padding: 15px;
    position: absolute;
    right: 100%;
    z-index: 99;
    transform: translateY(-60%);
    .icon-close-btn {
        position: absolute;
        right: 15px;
        padding: 0;
        top: 15px;
        font-size: 12px;
    }
}

.ib-repull-date {
    font-size: 0.75rem !important;
    color:#0db9f0
}