/*Common css*/
.clearfix {
    clear: both;
}

/*Modal window body css*/
.message {
    margin-bottom: 15px;
    width        : 100%;
    line-height  : 21px;
    font-size    : 14px;
}

.message a:hover {
    text-decoration: none;
    color          : #1E76C7;
}

/* Fix: #376 Issue Fixed. */



/*Checkbox styling
============================*/
