<div class="authentication-hello-text">
    <p></p>
    <h1>{{localeService.getLocalizedString('authentication.WELCOME')}} {{appDataService.userInfo.firstName}} {{appDataService.userInfo.lastName}}</h1>
    <h2> {{authMessage}}</h2>
    <!-- <h2>{{localeService.getLocalizedMessage('authentication.EA_MGMT')}}
    </h2> -->        
    <!--<h3>{{localeService.getLocalizedMessage('authentication.MESSAGE_SOFTWARE_SPECIALIST_START')}}<a href="javascript:void(0)" (click)="openSpecialist()">{{localeService.getLocalizedMessage('authentication.MESSAGE_SOFTWARE_SPECIALIST_MIDDLE')}}</a>{{localeService.getLocalizedMessage('authentication.MESSAGE_SOFTWARE_SPECIALIST_END')}}</h3>-->
    <!--<h3>{{localeService.getLocalizedMessage('authentication.MESSAGE')}}</h3>-->
    <!--<a class="btn btn-primary" href="javascript:void(0)" (click)="appDataService.requestUserAccess()">Request Access</a>-->
</div>
